<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">





    <!--Head section start-->	
    <h:head>
        <title>Templates</title>

        <h:outputStylesheet library="css" name="bootstrap.min.css"  />
        <h:outputStylesheet library="css" name="bootstrap-select.css"  />
        <h:outputStylesheet library="css" name="style.css"  />
        <h:outputStylesheet library="css" name="flexslider.css"  />
        <h:outputStylesheet library="css" name="font-awesome.min.css"  />

        <!--<h:outputStylesheet library="css" name="bootstrap.min_1.css"  />-->
        <h:outputStylesheet library="css" name="font-awesome.min_1.css"  />
        <h:outputStylesheet library="css" name="prettyPhoto.css"  />
        <h:outputStylesheet library="css" name="animate.min.css"  />
        <!--<h:outputStylesheet library="css" name="main.css"  />-->
        <h:outputStylesheet library="css" name="responsive.css"  />


        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>

        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />





        <!-- //for-mobile-apps -->
        <!--fonts-->
        <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'/>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'/>
        <!--//fonts-->	
        <!-- js -->
        <h:outputStylesheet library="css" name="jquery.uls.css"  />
        <h:outputStylesheet library="css" name="jquery.uls.grid.css"  />
        <h:outputStylesheet library="css" name="jquery.uls.lcd.css"  />
        <!--       
                <link href="css/jquery.uls.css" rel="stylesheet"/>
                <link href="css/jquery.uls.grid.css" rel="stylesheet"/>
                <link href="css/jquery.uls.lcd.css" rel="stylesheet"/>-->
        <!-- Source -->

    </h:head>

    <!--Head section End-->		



    <!--Header section start-->		
    <ui:insert name="header">
        <!--Normal Header--> 

        <div class="header">
            <div class="container">
                <div class="logo">
                    <a href="index.xhtml"><span>Team</span>UP</a>
                </div>

            </div>
        </div>

    </ui:insert>

    <!--footer section End-->		

    <h:body>

        <!--Banner-->

        <!--Banner End--> 
        <!-- content-starts-here -->

        <ui:insert name="content">
            <dive align="center" >Content Is Loading </dive>
        </ui:insert>





        <!--footer section start-->		

        <ui:insert name="footer">
            <ui:include src="/pieces/footer.xhtml"/>
        </ui:insert>
        <!--footer section End-->		

        <!--        <h:outputScript  library="js" name="jquery.min.js" />-->
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <!-- js -->
        <h:outputScript  library="js" name="jquery.leanModal.min.js" />
        <h:outputScript  library="js" name="jquery.uls.data.js" />
        <h:outputScript  library="js" name="jquery.uls.data.js" />
        <h:outputScript  library="js" name="jquery.uls.data.utils.js" />

        <h:outputScript  library="js" name="jquery.uls.lcd.js" />
        <h:outputScript  library="js" name="jquery.uls.languagefilter.js" />
        <h:outputScript  library="js" name="jquery.uls.core.js" />
        <h:outputScript  library="js" name="bootstrap.min.js" />
        <h:outputScript  library="js" name="bootstrap-select.js" />

        <script>
            $(document).ready(function () {
                $('.uls-trigger').uls({
                    onSelect: function (language) {
                        var languageName = $.uls.data.getAutonym(language);
                        $('.uls-trigger').text(languageName);
                    },
                    quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                var mySelect = $('#first-disabled2');

                $('#special').on('click', function () {
                    mySelect.find('option:selected').prop('disabled', true);
                    mySelect.selectpicker('refresh');
                });

                $('#special2').on('click', function () {
                    mySelect.find('option:disabled').prop('disabled', false);
                    mySelect.selectpicker('refresh');
                });

                $('#basic2').selectpicker({
                    liveSearch: true,
                    maxOptions: 1
                });
            });
        </script>

        <script type="application/x-javascript">
            addEventListener("load", function() 
            { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } 
        </script>

    </h:body>
</html>
