<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <!--<ui:include src="head.xhtml"/>-->

    <body>
        <div class="header">
            <div class="container">
                <div class="logo">
                    <a href="index.html"><span>Team</span>UP</a>
                </div>
                <div class="header-right">
                    <a class="account" href="index.xhtml">Home</a>

                </div>
            </div>
        </div>
        <section>
            <div id="page-wrapper" class="sign-in-wrapper">
                <div class="graphs">
                    <div class="sign-in-form">
                        <div class="sign-in-form-top">
                            <h1>Information Technology</h1>
                        </div>
                        <div class="new_people">
                            <h2>Database Engineer</h2>
                            <p>A database administrator (DBA) directs or performs all activities related to maintaining a ... Responsibilities include designing, implementing, and maintaining.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>