<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <ui:insert name="head" >
            <ui:include src="../common/head.xhtml" />
        </ui:insert>

        <h:outputScript library="js" name="app.min.js"/>
        <h:outputScript library="js" name="bootstrap.min_1.js" />
        <h:outputScript library="js" name="dataTables.bootstrap.min.js"/>
        <h:outputScript library="js" name="demo.js"/>
        <h:outputScript library="js" name="fastclick.js"/>
        <h:outputScript library="js" name="jquery.dataTables.min.js" />
        <h:outputScript library="js" name="jquery.slimscroll.min.js"/>
        <h:outputScript library="js" name="jQuery-2.2.0.min.js" />      
        <h:outputScript library="js" name="jquery.js" />


        <h:outputStylesheet library="css" name="toggle.css"  />
        <h:outputStylesheet library="css" name="toggle-radio.css"  />
        <script type="text/javascript">
            $(function () {
                var chs = document.getElementsByClassName("ic");
                console.log(chs);
                for (var i = chs.length - 1; i >= 0; i--) {
                    var id = $(chs[i]).attr("id");
                    if (id == 1) {
                        $(chs[i]).attr("checked", "true")
                    }
                }
            });
            
//            $(function () {
//                var chs = document.getElementsByClassName("is");
//                console.log(chs);
//                for (var i = chs.length - 1; i >= 0; i--) {
//                    var value = $(chs[i]).attr("value");
//                    alert("value"+value);
//                    if (value == 1) {
//                        return true;
////                        $(chs[i]).attr("value", "true")
//                    }
//                }
//            });
            
        </script>

    </h:head>


    <h:body>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <ui:insert name="header" >
                <ui:include src="../common/header.xhtml" />
            </ui:insert>

            <ui:insert name="leftside" >
                <ui:include src="../common/leftside.xhtml" />
            </ui:insert>

            <section class="content-header">
                <h1>
                    Data Skills
                    <small>advanced skills</small>
                </h1>
                <ol class="breadcrumb">
                    <li><h:link class="fa fa-dashboard-o" outcome="login.xhtml">Home</h:link></li>
                    <li><h:link class="active" outcome="manageskills.xhtml">Data Skills</h:link></li>

                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Hover Data Skills</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <h:form id="formId">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Skills Name</th>
                                                <th>Skills Category</th>
                                                <th>Skills Status</th>
                                                <th>Edit Skills</th>
                                                <!--<th>Delete Skills</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <c:forEach items="#{adminSkillsBean.allSkills}" var="v">
                                                <tr>
                                                    <td>
                                                        #{v.name}
                                                    </td>
                                                    <td>
                                                        #{v.skillCategory.name}
                                                    </td>
                                                    <td>
                                                        #{v.skillsStatus.statusName}
                                                    </td>
                                                    <td>   
                                                        <label class="switch" >

                                                            <input type="checkbox" id="#{v.skillsStatus.id}" class="ic">

                                                            </input>

                                                            <div class="slider round" ></div>
                                                            <!--</input>-->
                                                        </label>

                                                    </td>
                                                    <td>
                                                        <p:inputSwitch value="#{adminSkillsBean.inputSwitch(v.skillsStatus.id)}" class="is">
                                                            <p:ajax listener="#{adminSkillsBean.toggle(v.id,v.skillsStatus.id)}" update="@this"/>
                                                        </p:inputSwitch>
                                                    </td>
                                                </tr>
                                            </c:forEach>

                                        </tbody>
                                    </table>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">

                            <div class="box-body">
                                <div class="box-header">
                                    <h3 class="box-title">Add Data Skills</h3>
                                </div>
                                <h:form>
                                    <table id="example3" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Skills Name</th>
                                                <th>Skills Category</th>
                                                <th>Add Skills</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h:inputText value="#{adminSkillsBean.name}" id="name" required="true" size="40" maxlength="35" 
                                                                 requiredMessage="Please enter Skill Name."/>
                                                    <h> <h:message  id="nameError" for="name" style="color:red" /></h>
                                                </td>
                                                <td>
                                                    <h:selectOneMenu value="#{adminSkillsBean.catId}" id="it" >
                                                        <f:selectItems value="#{adminSkillCategoryBean.allSkillCategory}" var="item" itemLabel="#{item.name}" itemValue="#{item.id}"></f:selectItems>
                                                    </h:selectOneMenu>
                                                </td>
                                                <td>
                                                    <h:commandButton value="Add Skill" type="submit" action="#{adminSkillsBean.addSkill()}" />
                                                </td>                                               
                                            </tr>                                        
                                        </tbody>
                                    </table>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.1
            </div>

        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            </ul>
        </aside>

        <div class="control-sidebar-bg"></div>

        <!-- ./wrapper -->


    </h:body>
</html>
