<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <ui:insert name="head" >
            <ui:include src="../common/head.xhtml" />
        </ui:insert>

        <h:outputScript library="js" name="app.min.js"/>
        <h:outputScript library="js" name="bootstrap.min_1.js" />
        <h:outputScript library="js" name="dataTables.bootstrap.min.js"/>
        <h:outputScript library="js" name="demo.js"/>
        <h:outputScript library="js" name="fastclick.js"/>
        <h:outputScript library="js" name="jquery.dataTables.min.js" />
        <h:outputScript library="js" name="jquery.slimscroll.min.js"/>
        <h:outputScript library="js" name="jQuery-2.2.0.min.js" />

        <!--        <script type="text/javascript">
                    $(function () {
                        $("#example1").DataTable();
                        $('#example2').DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "searching": false,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false
                        });
                    });
                </script>
        -->
    </h:head>


    <h:body>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <ui:insert name="header" >
                <ui:include src="../common/header.xhtml" />
            </ui:insert>

            <ui:insert name="leftside" >
                <ui:include src="../common/leftside.xhtml" />
            </ui:insert>

            <section class="content-header">
                <h1>
                    Data Skills
                    <small>advanced skills</small>
                </h1>
                <ol class="breadcrumb">
                    <li><h:link class="fa fa-dashboard-o" outcome="login.xhtml">Home</h:link></li>
                    <li><h:link class="active" outcome="manageskillsCategory.xhtml">Data Skills Category</h:link></li>

                    <!--                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                                        <li><a href="#">Tables</a></li>
                                        <li class="active">Data tables</li>-->
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Hover Data Skills category</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <h:form>
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Skills Category</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <c:forEach items="#{adminSkillCategoryBean.allSkillCategory}" var="v">
                                                <tr>
                                                    <td>
                                                        #{v.name}
                                                    </td>
                                                </tr>
                                            </c:forEach>

                                        </tbody>
                                    </table>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="box-header">
                                    <h3 class="box-title">Add Data Skill Category</h3>
                                </div>
                                <h:form>
                                    <table id="example3" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Category Name</th>
                                                <th>Add Category</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h:inputText value="#{adminSkillCategoryBean.name}" id="cateName" required="true" size="40" maxlength="35"
                                                                 requiredMessage="Please enter category Name."/>
                                                    <h> <h:message  id="nameError" for="cateName" style="color:red" /></h>
                                                </td>
                                                <td>
                                                    <h:commandButton value="Add Category" type="submit" action="#{adminSkillCategoryBean.addCategory()}" />

                                                </td>
                                            </tr>                                        
                                        </tbody>
                                    </table>
                                </h:form>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.1
            </div>

        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            </ul>
        </aside>

        <div class="control-sidebar-bg"></div>

        <!-- ./wrapper -->


    </h:body>
</html>
