<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:composition template="/templates/adminTemplate.xhtml">
        <!-- Start  Header  of Home -->

        
        
        
        <ui:define name="header" >
            <ui:include src="/pieces/headerOfHome.xhtml" />            
        </ui:define>
        <!-- End of Header -->




        <ui:define name="content">
            
            <div class="main-banner banner text-center">

                <div class="container">    

                    <h1>
                        SUPER CHARGE YOUR

                        <span class="segment-heading">   FITNESS BUSINESS
                         </span> </h1>
                    <p>teamup saves you time and money by making your business run smoothly.</p>

                </div>
            </div>
            <!-- content-starts-here -->
            <div class="content">
                <div class="categories">
                    <div class="container">

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-laptop"></i></div>
                                        <h4 class="clrchg">Software Developer</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/IT/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myfootball">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-book"></i></div>
                                        <h4 class="clrchg">Football</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myfootball" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <ui:include  src="/skills/sports/football.xhtml" />
                                </div>
                            </div>
                            <script>
                                $('#myfootball').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#mygraphic">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-pencil"></i></div>
                                        <h4 class="clrchg">Graphic Designer</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="mygraphic" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/design/graphicdesigner.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#mygraphic').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myDatabase">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-cogs"></i></div>
                                        <h4 class="clrchg">Database Engineer</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myDatabase" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/IT/databaseeng.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myDatabase').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myTennis">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-book"></i></div>
                                        <h4 class="clrchg">Tennis</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myTennis" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/sports/tennis.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myTennis').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#my3d">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-pencil"></i></div>
                                        <h4 class="clrchg">3D Designer</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="my3d" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/design/3ddesigner.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#my3d').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myAdmin">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-laptop"></i></div>
                                        <h4 class="clrchg">System Administrator</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myAdmin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/IT/systemadmin.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myAdmin').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myfestival">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-home"></i></div>
                                        <h4 class="clrchg">Festival</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myfestival" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/funny/festival.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myfestival').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myHandball">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-book"></i></div>
                                        <h4 class="clrchg">Handball</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myHandball" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/sports/handball.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myHandball').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myDigital">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-pencil"></i></div>
                                        <h4 class="clrchg">Digital Designer</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myDigital" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/design/digitaldesiner.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myDigital').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myBasketball">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-book"></i></div>
                                        <h4 class="clrchg">Basketball</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myBasketball" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/sports/basketball.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myBasketball').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myCelebrate">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-home"></i></div>
                                        <h4 class="clrchg">Celebrate</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myCelebrate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/funny/celebrate.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myCelebrate').modal('');
                            </script>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>


            </div>

        </ui:define>
    </ui:composition>

</html>