<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="templates/adminTemplate.xhtml">
        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>
        <ui:define name="content">
            <div class="submit-ad main-grid-border">
                <div class="container">
                    <h2 class="head">#{lang.MangaeYourSkill}</h2>
                    <div class="post-ad-form"> 
                        <h:form prependId="false" >


                            <h:outputLabel for="category" value="#{lang.category}" style="margin-right: 40px" />
                            <h:selectOneMenu id="category" value="#{bean.category}" >
                                <f:ajax listener="#{bean.onCategoryChanged()}" render ="skill" />
                                <f:selectItem itemLabel="#{lang.SelectCategory}" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{bean.categories}" />
                            </h:selectOneMenu>
                            <h:outputText value="&lt;br/&gt;" escape="false" />
                            <h:outputLabel for="skill" value="#{lang.skill}" style="margin-right: 40px" />
                            <h:selectOneMenu id="skill" value="#{bean.skill}" converter="#{skillConverter}">
                                <f:ajax render="result" event="change" listener="#{bean.submit()}"/>
                                <f:selectItem itemLabel="#{lang.SelectSkill}" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{bean.skills}" />

                            </h:selectOneMenu>

                            <h:commandButton value="Sumbit" type="submit" action="#{bean.addSkill()}"/>
                            <!--<p:separator/>-->
                            <h:dataTable id="result" value="#{bean.selected}" var="myListElement">
                                <h:column>
                                    <h:panelGrid>
                                        <h:outputText value="#{myListElement}" ></h:outputText>
                                        <p:commandButton action="#{bean.remove(myListElement)}" ajax="true"
                                                         update="@form"
                                                         process="@this"
                                                         icon="ui-icon-close"
                                                         value="remove">
                                        </p:commandButton>
                                    </h:panelGrid>
                                </h:column>
                            </h:dataTable>
                            <h:dataTable id="results" value="#{bean.userSkills}" var="myListElement">
                                <h:column>
                                    <h:panelGrid>
                                        <h:outputText value="#{myListElement}" ></h:outputText>
                                        <p:commandButton action="#{bean.deleteSkill(myListElement)}" ajax="true"
                                                         update="@form"
                                                         process="@this"
                                                         icon="ui-icon-close"
                                                         value="remove">
                                        </p:commandButton>
                                    </h:panelGrid>
                                </h:column>
                            </h:dataTable>
                        </h:form>

                    </div>
                </div>
            </div>
            <div>
                <h:panelGroup  layout="block" id="menuForm">
                    <h:form id="panel1" rendered="#{bean.show}">
                        <h:outputLabel for="category" value="#{lang.category}" style="margin-right: 40px" />
                        <h:selectOneMenu id="category" value="#{bean.categoryForNewSkill}" >
                            <f:selectItem itemLabel="#{lang.SelectCategory}" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{bean.categories}" />
                        </h:selectOneMenu>
                        <h:outputText value=" Skill " />
                        <h:inputText id="nskill" value="#{bean.newSkill}"/> 
                        <p:commandButton action="#{bean.addNewSkill()}" value="Add">
                            <f:ajax execute="@form" render=":panel1" />
                        </p:commandButton>
                        <h:outputText id="feedBack" value=""/>
                    </h:form>
                </h:panelGroup>
                <h:commandButton value="New Skill">
                    <f:ajax render=":menuForm :panel1" event="click" listener="#{bean.showPanel()}"/>
                </h:commandButton>
            </div>
        </ui:define>
    </ui:composition>
    <!-- // Submit Ad -->
    <!--footer section start-->		
    <!--footer section end-->
</html>