<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:composition template="templates/adminTemplate.xhtml">


        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>



        <!-- content-starts-here -->
        <ui:define name="content">


            <!-- =================================			-->
            <div class="ads-display col-md-9">

                <div class="wrapper">		

                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                    <span class="text">#{loginBean.currentUser.name} Teams You invited to  </span>
                                </a>
                            </li>

                            <li role="presentation"> </li>
                        </ul>
                        <div id="myabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                <div>
                                    <div id="container">
                                        <div class="view-controls-list" id="viewcontrols">
                                            <label>view :</label>

                                            <a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
                                        </div>

                                        <div class="clearfix"></div>
                                        <ul class="list">
                                            <!--=============================================-->
                                            <h:form id="form">
                                                <ui:repeat value="#{notifyBean.teamModel}" var="iterate">
                                                    <li>
                                                        <h:graphicImage  library="images" name="m1.jpg" alt=""/>
                                                        <section class="list-left">
                                                            <h3 class="title">Team Name : #{iterate.title}</h3>
                                                            <h3 class="title">Team Description :#{iterate.description}</h3>
                                                            <!--                                                            <h3 class="title">Team Owner : </h3>-->-->
                                                            <h:commandButton value="accept" action="#{notifyBean.operationOnInvitation(iterate.id,notifyBean.accept)}" > 
                                                                <f:ajax execute="@form" render=":form" />
                                                            </h:commandButton>
                                                            <h:commandButton value="reject" action="#{notifyBean.operationOnInvitation(iterate.id,notifyBean.reject)}" > 
                                                                <f:ajax execute="@form" render=":form" />
                                                            </h:commandButton>

                                                        </section>
                                                        <section class="list-right">
                                                            <span class="date">Team :#{iterate.teamStatus.status}</span>

                                                        </section>
                                                        <div class="clearfix"></div>
                                                    </li> 
                                                </ui:repeat>
                                                <!--===========================================================================-->
                                            </h:form>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--================================-->
            <div class="ads-display col-md-9">

                <div class="wrapper">		

                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTabs" class="nav nav-tabs nav-tabs-responsive" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                    <span class="text">Need  Confirmation  </span>
                                </a>
                            </li>

                            <li role="presentation"> </li>
                        </ul>
                        <div id="myabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                <div>
                                    <div id="container">
                                        <div class="view-controls-list" id="viewcontrols">
                                            <label>view :</label>

                                            <a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
                                        </div>

                                        <div class="clearfix"></div>
                                        <ul class="list">
                                            <!--=============================================-->
                                            <h:form id="forms">
                                                <ui:repeat value="#{notifyBean.userHasTeamModel}" var="teams">
                                                    <li>
                                                        <h:graphicImage  library="images" name="m1.jpg" alt=""/>
                                                        <section class="list-left">
                                                            <h3 class="title">Team Name : #{teams.team.title}</h3>
                                                            <h3 class="title">#{teams.users.name} Accpet your invitation</h3>
                                                            <!--<h3 class="title">Team Owner : </h3>-->
                                                            <h:commandButton value="Confirm" action="#{notifyBean.confirm()}" > 
                                                                <f:ajax  render=":forms" />
                                                            </h:commandButton>
                            
                                                        </section>
                                                        <div class="clearfix"></div>
                                                    </li> 
                                                </ui:repeat>
                                                <!--===========================================================================-->
                                            </h:form>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

        </ui:define>


    </ui:composition>



</html>

