<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="templates/adminTemplate.xhtml">
        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>
        <!-- End of Header -->
        <ui:define name="content">
            <div class="main-banner banner text-center">
                <div class="container">    
                    <h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    <h:form>
                        <i class="fa fa-cog">n</i>
                    <h:commandLink  value="Create Team" action="#{team.renderTeamPage()}">
                    </h:commandLink>
                    </h:form>
                     </div>
            </div>
            <!-- Terms of use -->
            <div align="center">
               <a href="editProfile.xhtml">#{lang.EditProfile}</a>
             </div>
            <div align="center">
                <a href="manage.xhtml">#{lang.MangaeYourSkill}</a> 
            </div>
            <div class="terms main-grid-border">
                <div class="container">
                    <h2 class="head"> <h:outputText value="#{loginBean.currentUser.name} "></h:outputText> </h2>
                    <div class="panel-group" id="accordion">
                        <!-- First Panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne">
                                    <span></span> Bio
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                    <h:outputText value="#{loginBean.currentUser.bio}"></h:outputText>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Second Panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" data-toggle="collapse"  data-target="#collapseTwo">
                                    <span></span> Skills
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">					
                                    <ui:repeat value="#{loginBean.currentUser.userHasSkills.toArray()}" var="skill">
                                        <h:outputText value="#{skill.skills.name}" rendered="#{skill.skills.skillsStatus.statusName  eq 'activated'}">             
                                        </h:outputText>
                                            <br/>
                                    </ui:repeat>
                                </div>
                            </div>
                        </div>

                        <!-- Third Panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" data-toggle="collapse" data-target="#collapseThree">
                                    <span></span>Email 
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                     
                                     <h:outputText value="#{loginBean.currentUser.email}"></h:outputText>
                                </div>
                            </div>
                        </div>
                        <!-- Fourth Panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFour">
                                    <span></span> contact
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                      <h:outputText value="#{loginBean.currentUser.phone}"></h:outputText>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>      
        </ui:define>
    </ui:composition>
</html>