<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"

      xmlns:p="http://primefaces.org/ui"

      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="templates/adminTemplate.xhtml">
        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>

        <!-- content-starts-here -->
        <ui:define name="content">
             <p:growl id="messageHint" showDetail="true" />
            <!--single-page-->
            <div class="single-page main-grid-border">
                <div class="container">

                    <div class="product-desc">
                        <div class="col-md-7 product-view">

                            <h:form id="form">
                                <h:commandButton value="Cancel" action="#{teamDetailsBean.changeStatus(true)}" 
                                                 rendered="#{teamDetailsBean.owner and teamDetailsBean.teamStatus eq 'active'}"
                                                 class="account"
                                                 style="width: 131px;height: 34px;"
                                                 >
                                    <f:ajax execute="@form" render=":form" />
                                </h:commandButton>  
                                <h:commandButton  value="Active"
                                                  action="#{teamDetailsBean.changeStatus(false)}" 
                                                  rendered="#{teamDetailsBean.owner 
                                                              and teamDetailsBean.teamStatus eq 'cancelled'}"
                                                  style="width: 131px;height: 34px;">
                                    <f:ajax execute="@form" render=":form" />
                                </h:commandButton>



                            </h:form>
                            <ui:remove>
                                <!--<h:graphicImage  library="images" name="b1.jpg" alt="" width="20" height="20"/>
                               <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>-->
                            </ui:remove>
                            <div style="width: 500px;height: 200px">
                                <p>     
                                    <img  class="p-price" style="float: left" width="200" height="200"  src="${teamDetailsBean.team.imageBase64}" alt="" />

                                </p>

                            </div>
                            <!-- FlexSlider -->
                            <!-- //FlexSlider -->
                            <div  class="product-details">
                                <p>
                                    <i class="fa fa-cogs"></i>
                                    <h:outputText value="#{teamDetailsBean.team.startDate}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                    </h:outputText>
                                </p> 
                                <h3>Title :#{teamDetailsBean.team.title}</h3>
                                <h4>Number of Team  members: <strong>#{teamDetailsBean.teamLength}</strong></h4>
                                <p><strong>Duration </strong>: #{teamDetailsBean.team.durationDays}#{lang.month}</p>
                                <p><strong>Discription</strong> : #{teamDetailsBean.team.description}</p>
                            </div>
                        </div>
                        <div class="col-md-5 product-details-grid">
                            <div class="item-price">

                                <h:commandButton  value="Send Message to All "

                                                  rendered="#{teamDetailsBean.owner}" 
                                                  onclick="PF('dlg3').show();"
                                                  class="focused"
                                                  style="width: 162px;height: 34px; align-items: center"/>


                                <p:scrollPanel style="width:355px;height:350px">
                                    <ui:repeat value="#{teamDetailsBean.users}" var="user">
                                        <div class="condition">
                                            <div class="product-price">
                                                <img   class="p-price" style="float: left" width="50" height="50"  src="${user.user.profilePictureBase64}" alt="No profile picture" />
                                                <p class="p-price">#{user.user.name}</p>
                                                <h:outputFormat  class="status" value ="#{lang.WAcceptance}" rendered="#{user.teamMemberStatus.memberStatus eq 'invite'}" /> 
                                                <h:outputLabel class="status" value ="#{lang.Member}" rendered="#{user.teamMemberStatus.memberStatus eq 'confirm'}" /> 
                                                <h:outputLabel class="status" value ="#{lang.WConfirmation}" rendered="#{user.teamMemberStatus.memberStatus eq 'accept'}" /> 
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </ui:repeat>
                                </p:scrollPanel>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--===============================Message Page Div=====================--> 
            <p:dialog header="#{teamDetailsBean.team.title} " 
                      widgetVar="dlg3" 
                      showEffect="explode"
                      height="300"
                      width="600"
                      resizable="false">


                <h:form id="chat">
                  <div class="col-md-10">
                        <div class="panel panel-info" >
                            <div class="panel-heading">
                                RECENT CHAT HISTORY
                            </div>
                            <div class="panel-body">
 <ul class="media-list">

                                    <li class="media">

                                        <div class="media-body">

                                            <div class="media">

                                                <div class="media-body" >
                                                    <h:outputText value="#{teamDetailsBean.team.title}"  id ="outputMessage" style="display:inline-block"/>
                                                    <br />
                                                    <hr />
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">

                                    <h:inputText style="height:60px"
                                                 value="#{messageBean.messageTemp}" 
                                                 id="inputMessage"  
                                                 class="form-control"
                                                 required="true"
                                                 requiredMessage="Message can’t be empty ..!"
                                                 a:placeholder="Enter Message">

                                    </h:inputText> 
                                    <span class="group-btn">
                                        <p:commandButton
                                            value="SEND"
                                            update="messageHint"
                                            style="width: 80px ; height: 40px;"
                                            type="submit" 
                                            actionListener="#{messageBean.display()}" 
                                            action ="#{messageBean.OwnersendMessageToAllTeam(teamDetailsBean.users)}"
                                            onclick="dlg3.hide()" />

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </h:form>
            </p:dialog>
            <!--//single-page-->
        </ui:define>
    </ui:composition>
</html>