<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:composition template="templates/adminTemplate.xhtml">
        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>
        <!-- content-starts-here -->
        <ui:define name="content">
            
            <div class="banner text-center">
                <div class="container">    
                    <h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    <a href="post-ad.html">Post Free Ad</a>
                </div>
            </div>
            <!-- Products -->
            <div class="total-ads main-grid-border">
                <div class="container">
                    <div class="ads-grid">

                        <div class="ads-display col-md-9">
                            <div class="wrapper">					
                                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                                <span class="text">All Teams</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                            <div>
                                                <div id="container">
                                                    
                                                    <div class="clearfix"></div>
                                                    <ul class="list">
                                                        
                                                        <ui:repeat value="#{teamBean.teamAsOwnerModel}" var="myTeam">
                                                            <h:form>
                                                                <h:commandLink value="" action="#{teamDetailsBean.renderTeamDetails(myTeam.id)}"> 
                                                                    <li>

                                                                        <img src="${myTeam.imageBase64}" alt="" />
                                                                        <section class="list-left">
                                                                            <h5 class="title">#{myTeam.title}</h5>
                                                                            <!--                                                                    <span class="adprice">$190</span>-->
                                                                            <p class="catpath">#{myTeam.shortDescription}</p>
                                                                        </section>

                                                                        <div class="clearfix"></div>
                                                                    </li> 
                                                                </h:commandLink>
                                                                <section class="list-right">
                                                                    <h:commandButton  class="cityname" value="invite" action="#{teamBean.inviteMoreMemberToTeam(myTeam)}"> 
                                                                    </h:commandButton>
                                                                </section>
                                                            </h:form>
                                                        </ui:repeat>

                                                        <ui:repeat value="#{teamBean.teamAsMemberModel}" var="myTeamAsMemebr">
                                                            <h:form>
                                                                <h:commandLink value="" action="#{teamDetailsBean.renderTeamDetails(myTeamAsMemebr.id)}"> 
                                                                    <li>
                                                                        <img src="${myTeamAsMemebr.imageBase64}" alt="" />
                                                                        <section class="list-left">
                                                                            <h5 class="title">#{myTeamAsMemebr.title}</h5>
                                                                            <p class="catpath">#{myTeamAsMemebr.shortDescription}</p>
                                                                        </section>
                                                                        <div class="clearfix"></div>
                                                                    </li> 
                                                                </h:commandLink>
                                                            </h:form>
                                                        </ui:repeat>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>	
            </div>
        </ui:define>
    </ui:composition>
</html>