<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="templates/adminTemplate.xhtml">
        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>
        <ui:define name="content">
            <div class="submit-ad main-grid-border">
                <div class="container">
                    <h2 class="head">Post an Ad</h2>
                    <div class="post-ad-form"> 
                        <h:form>
                            <p:growl id="msgs" showDetail="true"/>                           
                            <p:panel  header="#{lang.createTeam}" style="margin-bottom:10px;">                 
                                <p:outputLabel value="title" />
                                <p:inputText value="#{createTeamBean.title}" required="true"/>
                                <p:outputLabel value="#{lang.description}" />
                                <p:inputTextarea rows="6" cols="33" value="#{createTeamBean.discription}" required="true"/>
                                <p:outputLabel value="#{lang.bio}" />
                                <p:inputTextarea rows="3" cols="15" value="#{createTeamBean.bio}" required="true"/> 
                                <p:outputLabel value="#{lang.duratoion}" for="userNo2" />
                                <p:inputMask  id="userNo2" 
                                              mask="?9"
                                              maxlength="1"
                                              slotChar=" "
                                              value="#{createTeamBean.duration}" required="true" />

                                <h:panelGrid columns="2" cellpadding="5" style="margin-left: 100px" >
                                    <p:outputLabel for="category" value="#{lang.category}" style="margin-right: 40px" />
                                    <p:selectOneMenu id="category" value="#{createTeamBean.category}"  style="width:250px">
                                        <p:ajax listener="#{createTeamBean.onCategoryChanged}" update="skill" />
                                        <f:selectItem itemLabel="Select category" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{createTeamBean.categories}" />
                                    </p:selectOneMenu>

                                    <p:outputLabel for="skill" value="#{lang.skill}" />
                                    <p:selectOneMenu id="skill" value="#{createTeamBean.skill}" converter="#{categoryConverter}" style="width:250px">
                                        <f:selectItem itemLabel="Select skill" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{createTeamBean.skills}"  />
                                    </p:selectOneMenu>
                                    <!--<p:separator/>-->
                                </h:panelGrid> 

                                <p:fileUpload fileUploadListener="#{fileUploadView.handleFileUpload}" mode="advanced" dragDropSupport="false"
                                              required="true"  update="msgs" sizeLimit="100000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                                <p:commandButton value="Submit" update="msgs"   actionListener="#{createTeamBean.validateSkill()}" action="#{createTeamBean.create()}" icon="ui-icon-check" />
                            </p:panel>
                        </h:form>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
    <!-- // Submit Ad -->
    <!--footer section start-->		
    <!--footer section end-->
</html>