<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <ui:composition template="templates/adminTemplate.xhtml">


        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>



        <!-- content-starts-here -->
        <ui:define name="content">
            <div class="main-banner banner text-center">
                <div class="container">    
                    <h1>SUPER CHARGE YOUR   <span class="segment-heading">    anything online </span> with Resale</h1>
                    <p>teamup saves you time and money by making your business run smoothly.</p>
                     <a href="#{team.renderTeamPage()}">
                         
                         <i class="fa fa-cogs"></i>
                         Create Team</a>	
                </div>
            </div>
            <div class="content">
                <div class="categories">
                    <div class="container">

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-mobile"></i></div>
                                        <h4 class="clrchg">Software Developer</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-laptop"></i></div>
                                        <h4 class="clrchg">Software Designer</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-car"></i></div>
                                        <h4 class="clrchg">Database Engineer</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-motorcycle"></i></div>
                                        <h4 class="clrchg">Systems Administrator</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                                        <h4 class="clrchg">3D Designer</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-paw"></i></div>
                                        <h4 class="clrchg">Digital Designer</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-book"></i></div>
                                        <h4 class="clrchg">Football</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                                        <h4 class="clrchg">Tennis</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                                        <h4 class="clrchg">Basketball</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-shield"></i></div>
                                        <h4 class="clrchg">Handball</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-at"></i></div>
                                        <h4 class="clrchg">Festival</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <div class="selectregion">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">

                                <div class="focus-border">
                                    <div class="focus-layout">
                                        <div class="focus-image"><i class="fa fa-home"></i></div>
                                        <h4 class="clrchg">Celebrate</h4>
                                    </div>
                                </div>

                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                    <!--hfjhfjdjfhjdr-->
                                    <ui:include  src="/skills/softwaredeveloper.xhtml" />

                                    <!--fhhdfhgfhgf-->
                                </div>
                            </div>
                            <script>
                                $('#myModal').modal('');
                            </script>
                        </div>

                        <!--                        <div class="col-md-2 focus-grid">
                                                    <a href="categories.html">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-mobile"></i></div>
                                                                <h4 class="clrchg">Software Developer</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>-->
                        <!--                        <div class="col-md-2 focus-grid">
                                                    <a href="categories.html#parentVerticalTab2">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-laptop"></i></div>
                                                                <h4 class="clrchg"> Electronics + Appliances</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-md-2 focus-grid">
                                                    <a href="categories.html#parentVerticalTab3">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-car"></i></div>
                                                                <h4 class="clrchg">Cars</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>	-->
                        <!--                        <div class="col-md-2 focus-grid">
                                                    <a href="categories.html#parentVerticalTab4">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-motorcycle"></i></div>
                                                                <h4 class="clrchg">Bikes</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>	
                                                <div class="col-md-2 focus-grid">
                                                    <a href="categories.html#parentVerticalTab5">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                                                                <h4 class="clrchg">Furnitures</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>-->
                        <!--                        <div class="col-md-2 focus-grid">
                                                    <a href="categories.html#parentVerticalTab6">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-paw"></i></div>
                                                                <h4 class="clrchg">Pets</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>	
                                                <div class="col-md-2 focus-grid">
                                                    <a href="categories.html#parentVerticalTab7">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-book"></i></div>
                                                                <h4 class="clrchg">Books, Sports , Hobbies</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>	-->
                        <!--                        <div class="col-md-2 focus-grid">
                                                    <a href="categories.html#parentVerticalTab8">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                                                                <h4 class="clrchg">Fashion</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>	
                                                <div class="col-md-2 focus-grid">
                                                    <a href="categories.html#parentVerticalTab9">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                                                                <h4 class="clrchg">Kids</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>	-->
                        <!--                        <div class="col-md-2 focus-grid">
                                                    <a href="categories.html#parentVerticalTab10">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-shield"></i></div>
                                                                <h4 class="clrchg">Services</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-md-2 focus-grid">
                                                    <a href="categories.html#parentVerticalTab11">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-at"></i></div>
                                                                <h4 class="clrchg">Jobs</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>-->
                        <!--                        <div class="col-md-2 focus-grid">
                                                    <a href="categories.html#parentVerticalTab12">
                                                        <div class="focus-border">
                                                            <div class="focus-layout">
                                                                <div class="focus-image"><i class="fa fa-home"></i></div>
                                                                <h4 class="clrchg">Real Estate</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="trending-ads">
                    <div class="container">
                        <!-- slider -->
                        <div class="trend-ads">
                            <h2>Team UP</h2>
                            <ul id="flexiselDemo3">
                                <li>
                                    <div class="col-md-3 biseller-column">
                                        <h:link class="account" outcome="teamDetails.xhtml">
                                            <h:graphicImage  library="images" name="p11.jpg" />  
                                            <span class="price">Programmer</span>
                                        </h:link>
                                        
                                        <div class="ad-info">
                                            <h5>Low Poly Fantasy Adventure

                                            </h5>
                                            <span>by Aaron Benjamin</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 biseller-column">
                                        <h:link class="account" outcome="teamDetails.xhtml">
                                            <h:graphicImage  library="images" name="p22.jpg" />  
                                            <span class="price">3D Designer</span>
                                        </h:link>
                                        <div class="ad-info">
                                            <h5>Human Infection 2020</h5>
                                            <span>by Damien Piotrowicz</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 biseller-column">
                                        <h:link class="account" outcome="teamDetails.xhtml">
                                            <h:graphicImage  library="images" name="p33.jpg" />  
                                            <span class="price">Coder Programmer</span>
                                        </h:link>
                                        <div class="ad-info">
                                            <h5>Bad Trip</h5>
                                            <span>by dustin cantey</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 biseller-column">
                                        <h:link class="account" outcome="teamDetails.xhtml">
                                            <h:graphicImage  library="images" name="p44.jpg" />  
                                            <span class="price">3D Model Designer</span>
                                        </h:link> 
                                        <div class="ad-info">
                                            <h5>Snow Blitz</h5>
                                            <span>by rachel williams</span>
                                        </div>
                                    </div>
                                </li>
                                <!--                                <li>
                                                                    <div class="col-md-3 biseller-column">
                                                                        <a href="single.html">
                                                                            <img src="images/p5.jpg"/>
                                                                            <span class="price">&#36; 1599</span>
                                                                        </a> 
                                                                        <div class="ad-info">
                                                                            <h5>There are many variations of passages</h5>
                                                                            <span>1 hour ago</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 biseller-column">
                                                                        <a href="single.html">
                                                                            <img src="images/p6.jpg"/>
                                                                            <span class="price">&#36; 1099</span>
                                                                        </a> 
                                                                        <div class="ad-info">
                                                                            <h5>passage of Lorem Ipsum you need to be</h5>
                                                                            <span>1 day ago</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 biseller-column">
                                                                        <a href="single.html">
                                                                            <img src="images/p7.jpg"/>
                                                                            <span class="price">&#36; 109</span>
                                                                        </a> 
                                                                        <div class="ad-info">
                                                                            <h5>It is a long established fact that a reader</h5>
                                                                            <span>9 hour ago</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 biseller-column">
                                                                        <a href="single.html">
                                                                            <img src="images/p8.jpg"/>
                                                                            <span class="price">&#36; 189</span>
                                                                        </a> 
                                                                        <div class="ad-info">
                                                                            <h5>Lorem Ipsum is simply dummy</h5>
                                                                            <span>3 hour ago</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="col-md-3 biseller-column">
                                                                        <a href="single.html">
                                                                            <img src="images/p9.jpg"/>
                                                                            <span class="price">&#36; 2599</span>
                                                                        </a> 
                                                                        <div class="ad-info">
                                                                            <h5>Lorem Ipsum is simply dummy</h5>
                                                                            <span>3 hour ago</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 biseller-column">
                                                                        <a href="single.html">
                                                                            <img src="images/p10.jpg"/>
                                                                            <span class="price">&#36; 3999</span>
                                                                        </a> 
                                                                        <div class="ad-info">
                                                                            <h5>It is a long established fact that a reader</h5>
                                                                            <span>9 hour ago</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 biseller-column">
                                                                        <a href="single.html">
                                                                            <img src="images/p11.jpg"/>
                                                                            <span class="price">&#36; 2699</span>
                                                                        </a> 
                                                                        <div class="ad-info">
                                                                            <h5>passage of Lorem Ipsum you need to be</h5>
                                                                            <span>1 day ago</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 biseller-column">
                                                                        <a href="single.html">
                                                                            <img src="images/p12.jpg"/>
                                                                            <span class="price">&#36; 899</span>
                                                                        </a> 
                                                                        <div class="ad-info">
                                                                            <h5>There are many variations of passages</h5>
                                                                            <span>1 hour ago</span>
                                                                        </div>
                                                                    </div>
                                                                </li>-->
                            </ul>
                            <script type="text/javascript">
                                $(window).load(function () {
                                    $("#flexiselDemo3").flexisel({
                                        visibleItems: 1,
                                        animationSpeed: 1000,
                                        autoPlay: true,
                                        autoPlaySpeed: 5000,
                                        pauseOnHover: true,
                                        enableResponsiveBreakpoints: true,
                                        responsiveBreakpoints: {
                                            portrait: {
                                                changePoint: 480,
                                                visibleItems: 1
                                            },
                                            landscape: {
                                                changePoint: 640,
                                                visibleItems: 1
                                            },
                                            tablet: {
                                                changePoint: 768,
                                                visibleItems: 1
                                            }
                                        }
                                    });

                                });
                            </script>
                            <script type="text/javascript" src="js/jquery.flexisel.js"></script>
                        </div>   
                    </div>
                    <!-- //slider -->				
                </div>


            </div>
        </ui:define>


    </ui:composition>



</html>

