<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <!--<ui:include src="head.xhtml"/>-->

    <body>
        <div class="header">
            <div class="container">
                <div class="logo">
                    <a href="index.html">TeamUP</a>
                </div>
            </div>
        </div>
        <section>
            <div id="page-wrapper" class="sign-in-wrapper">
                <div class="graphs">
                    <div class="sign-in-form">
                        <div class="new_people">
                            <h1>TeamUP Skills</h1>
                        </div>
                        <div class="new_people">
                            <h2>Software Developer</h2>
                            <h5>Having hands on experience in creating innovative designs,I do offer design 
                                solutions which harness.</h5>
                        </div>
                        <div class="new_people">
                            <h2>Database Engineer</h2>
                            <h5>A database administrator (DBA) directs or performs all activities related to maintaining a ... Responsibilities include designing, implementing, and maintaining.</h5>
                        </div>
                        <div class="new_people">
                            <h2>System Administrator</h2>
                            <h5>Having hands on experience in creating innovative designs,I do offer design 
                                solutions which harness.</h5>
                        </div>
                        <div class="new_people">
                            <h2>3D Designer</h2>
                            <h5>3D design, also known as communication design, is the art and practice of planning and 
                                projecting ideas and experiences with visual and textual content.</h5>
                        </div>
                        <div class="new_people">
                            <h2>Digital Designer</h2>
                            <h5>Digital design, also known as communication design, is the art and practice of planning and 
                                projecting ideas and experiences with visual and textual content.</h5>
                        </div>

                        <div class="new_people">
                            <h2>Graphic Designer</h2>
                            <h5>Graphic design, also known as communication design, is the art and practice of planning and 
                                projecting ideas and experiences with visual and textual content.</h5>
                        </div>

                    </div>
                </div>
            </div>
            
        </section>
    </body>
</html>