<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
  
   
  <!--<ui:include src="head.xhtml"/>-->
    
<body>
<div class="header">
		<div class="container">
			<div class="logo">
				<a href="index.html"><span>Team</span>UP</a>
			</div>
			<div class="header-right">
			<a class="account" href="index.xhtml">Home</a>
<!--			<span class="active uls-trigger">Select language</span>-->
	<!-- Large modal -->
			
		</div>
		</div>
	</div>
	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Information Technology</h1>
						</div>
<!--                                            <div class="signin">
                                                <div class="signin-rit">
                                                    <span class="checkbox1">
                                                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""/>Forgot Password ?</label>
                                                    </span>
                                                    <p><a href="#">Click Here</a> </p>
                                                    <div class="clearfix"> </div>
                                                </div>
                                                <form>
                                                    <div class="log-input">
                                                        <div class="log-input-left">
                                                            <input type="text" class="user" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}"/>
                                                        </div>
                                                        <span class="checkbox2">
                                                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""/><i> </i></label>
                                                        </span>
                                                        <div class="clearfix"> </div>
                                                    </div>
                                                    <div class="log-input">
                                                        <div class="log-input-left">
                                                            <input type="password" class="lock" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}"/>
                                                        </div>
                                                        <span class="checkbox2">
                                                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""/><i> </i></label>
                                                        </span>
                                                        <div class="clearfix"> </div>
                                                    </div>
                                                    <input type="submit" value="Log in"/>
                                                </form>	 
                                            </div>-->
						<div class="new_people">
							<h2>Software Developer</h2>
							<p>Having hands on experience in creating innovative designs,I do offer design 
								solutions which harness.</p>
							<!--<a href="register.html">Register Now!</a>-->
						</div>
					</div>
				</div>
			</div>
		<!--footer section start-->
			<footer class="diff">
			   <p class="text-center">copy 2016 TeamUP. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
			</footer>
        <!--footer section end-->
	</section>
</body>
</html>