<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <!--<ui:include src="head.xhtml"/>-->

    <body>
        <div class="header">
            <div class="container">
                <div class="logo">
                    <a href="index.html">TeamUP</a>
                </div>
            </div>
        </div>
        <section>
            <div id="page-wrapper" class="sign-in-wrapper">
                <div class="graphs">

                    <div class="new_people">
                        <h1>TeamUP Categories</h1>
                    </div>
                    <div class="new_people">
                        <h2>Information Technology</h2>
                    </div>
                    <div class="new_people">
                        <h2>Design</h2>
                    </div>
                    <div class="new_people">
                        <h2>Sports</h2>
                    </div>

                    <div class="new_people">
                        <h2>Funny</h2>
                    </div>


                </div>
            </div>

        </section>
    </body>
</html>