<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <!--<ui:include src="head.xhtml"/>-->

    <body>
       
        <section>
            <div id="page-wrapper" class="sign-in-wrapper">
                <div class="new_people">
                            <h1 style="color: #00a157">TeamUp Team Members</h1>
                        </div>
                        <div class="new_people">
                            <h2 style="color: #141a1d">Ahmed Hamdy</h2>
                            <h2 style="color: #141a1d">Shereen </h2>
                            <h2 style="color: #141a1d">Ahmed ElGazzar</h2>
                            <h2 style="color: #141a1d">Adel Hegazy</h2>
                            <h2 style="color: #141a1d">Hend Soliman</h2>
                        </div>
                     
              
            </div>
        </section>
    </body>
</html>