<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="templates/adminTemplate.xhtml">
        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>
        <ui:define name="content">

            <div class="submit-ad main-grid-border">
                <div class="container" style="width: 660px">
                    <h2 class="head"  style="padding-top: 0">Create New Team</h2>
                    <div class="post-ad-form"> 




                        <h:form>
                            <p:growl id="msgs" showDetail="true"/>  


                            <p:outputLabel value="title" style="padding-left: 0" >
                                <font size="3" color="red">* </font>
                            </p:outputLabel>

                            <h:inputText value="#{createTeamBean.title}"
                                         id="titleinput"
                                         required="true"
                                         maxlength="30"

                                         requiredMessage="* Required"
                                         a:placeholder="Team Title ">
                                <f:ajax event="blur" render="nameError" />
                            </h:inputText>
                            <h> <h:message  id="nameError" for="titleinput" style="color:red"/></h>


                            <!--===================================-->
                            <p:outputLabel value="#{lang.description}" />
                            <h:inputTextarea 
                                rows="6" cols="33"
                                value="#{createTeamBean.discription}" 
                                />

                            <!--===================================-->
                            <p:outputLabel value="#{lang.bio}">
                                <font size="3" color="red">* </font></p:outputLabel>
                            <h:inputTextarea id="shortDes"
                                             rows="3" cols="8"
                                             style="height: 60px "
                                             value="#{createTeamBean.bio}"

                                             required="true"
                                             requiredMessage="Description  cant not be null"> 
                                <f:ajax event="blur" render="DError" />
                            </h:inputTextarea>
                            <h> <h:message  id="DError" for="shortDes" style="color:red"/></h>

                            <!--===================================-->
                            <p:outputLabel value="#{lang.duratoion}" for="duration1" />

                            <h:inputText 

                                id="duration1" value="#{createTeamBean.duration}" 
                                size="10"
                                
                                validatorMessage="Please Maximum duration is 12 Month"
                                >
                                <f:ajax event="blur" render="duration1"/>
                                <f:validateLongRange  id="duration1" maximum="12"  />
                            </h:inputText>

                            <h:message for="duration1" style="color:red" />
                            <!--===================================-->

                            <h:panelGrid columns="2" cellpadding="5"  style="margin-left: 45px">
                                <p:outputLabel for="category" value="#{lang.category}" style="margin-right: 40px" />
                                <p:selectOneMenu id="category" value="#{createTeamBean.category}"  style="width:250px">
                                    <p:ajax listener="#{createTeamBean.onCategoryChanged}" update="skill" />
                                    <f:selectItem itemLabel="Select category" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{createTeamBean.categories}" />
                                </p:selectOneMenu>

                                <p:outputLabel for="skill" value="#{lang.skill}" />
                                <p:selectOneMenu id="skill" value="#{createTeamBean.skill}"
                                                 converter="#{categoryConverter}" style="width:250px">
                                    <f:selectItem itemLabel="Select skill" itemValue=""
                                                  class=""
                                                  noSelectionOption="true" />
                                    <f:selectItems value="#{createTeamBean.skills}"  />
                                </p:selectOneMenu>
                                <!--<p:separator/>-->
                            </h:panelGrid> 
                            <!--===================================-->

                            <div align="center">
                                <p:fileUpload  
                                    fileUploadListener="#{fileUploadView.handleFileUpload}" 
                                    mode="advanced"
                                    auto="true" update="messages"
                                    dragDropSupport="true"
                                    label="Upload photo "
                                    style="width: 178px"

                                    sizeLimit="100000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />


                                <p:messages id="messages" autoUpdate="true" closable="true" />
                            </div>
                            <!--===================================-->


                            <div align="center">
                                <p:commandButton value="Submit" update="msgs"  class ="button" style="padding-left: -17px" actionListener="#{createTeamBean.validateSkill()}" action="#{createTeamBean.create()}" icon="ui-icon-check" />
                            </div>
                            <!--===================================-->
                        </h:form>




                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
    <!-- // Submit Ad -->
    <!--footer section start-->		
    <!--footer section end-->
</html>