


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <ui:composition template="/templates/adminTemplate.xhtml">

        <!-- Start  Header  of Home -->
        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>
        <!-- End of Header -->

        <!-- End of Header -->




        <ui:define name="content">



            <section>
                <div id="page-wrapper" class="sign-in-wrapper">
                    <div class="graphs">

                        <h:form>


                            <div class="sign-up">
                                <h1>Edit Your Data </h1>


                                <!--Name ==================-->
                                <div class="sign-u">
                                    <div class="sign-up1">
                                        <h4>Name :</h4>
                                    </div>
                                    <div class="sign-up2">


                                        <h:inputText value="#{loginBean.currentUser.name}"
                                                     style="background-color: #ffffff"
                                                     id="name" required="true"  
                                                     requiredMessage="Please enter your name" 
                                                     a:placeholder="WHO ARE YOU ?">
                                            <f:validateLength minimum="4"  />
                                        </h:inputText>
                                        <h> <h:message for="name" style="color:red"/></h>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>

                                <!--Email=========-->
                                <div class="sign-u">
                                    <div class="sign-up1">
                                        <h4>Email :</h4>
                                    </div>
                                    <div class="sign-up2">


                                        <div class="sign-up1">
                                            <h4>#{loginBean.currentUser.email}</h4>
                                        </div>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <!--pssword =================-->
                             
                                <!--Phone ===================-->

                                <div class="sign-u">
                                    <div class="sign-up1">
                                        <h4>Phone :</h4>
                                    </div>
                                    <div class="sign-up2">

                                        <h:inputText value="#{loginBean.currentUser.phone}"  
                                                     id="phone" 
                                                      style="background-color: #ffffff"
                                                     a:placeholder="Phone Number"
                                                     validatorMessage="Please digits only"
                                                     >
                                            <f:validateLongRange  minimum="11" />

                                        </h:inputText>
                                        <h> <h:message for="phone" style="color:red"/></h>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>



                                <!--LinkedIn=========-->
                                <div class="sign-u">
                                    <div class="sign-up1">
                                        <h4>Linkedin URL :</h4>
                                    </div>
                                    <div class="sign-up2">

                                        <h:inputText value="#{loginBean.currentUser.url}"  
                                                     id="url"  
                                                      style="background-color: #ffffff"
                                                      a:placeholder="Linked In URL"/>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                 <div class="sign-u">
                                    <div class="sign-up1">
                                        <h4>  about you   :</h4>
                                    </div>
                                    <div class="sign-up2">
                                        <h:inputTextarea  cols="34" rows="4" id="bio"  value="#{loginBean.currentUser.bio}"  a:placeholder="Tell others about your Experince"/> 

                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
<!--                                <div class="sign-u">
                                        <div class="sign-up1">
                                        <h4>update you photo :</h4>
                                        <p:graphicImage  value="{editProfile.image}"></p:graphicImage>
                                    </div>       
                                    <div class="clearfix"> </div>
                                </div>-->
                                <div class="clearfix"> </div>
                                <br/><br/>
                                <div align="center">
                                                              <p:fileUpload  
                                                fileUploadListener="#{fileUploadView.handleFileUpload}" 
                                                mode="advanced"
                                                auto="true" update="messages"
                                                dragDropSupport="true"
                                                label="Upload photo "
                                                style="width: 178px"
                                              
                                                sizeLimit="100000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

                                   
                                          <p:messages id="messages" autoUpdate="true" closable="true" />
                                </div>
                                
                                
                                <div class="sub_home">
                                    <div class="sub_home">

       
                           <div class="sign-up2"  align="left">
                                        
                                <h:commandButton class ="button"  type="submit"  value="Update "  action ="#{editProfile.editUserData()}"/>
                                 <p align="center">Go Back to <a href="index.xhtml">Home</a></p>
                                    
                           </div>

                                    </div>


                                    <br/><br/>   <br/><br/>
                                   
                                    <div class="clearfix"> </div>
                                </div>
                              

                            </div>
\
                        </h:form>
                    </div>


                </div>

            </section>


        </ui:define>















    </ui:composition>


</html>