<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <!--<ui:include src="head.xhtml"/>-->

    <body>
        <div class="header">
            <div class="container">
                <div class="logo">
                    <a href="index.html">TeamUP</a>
                </div>
            </div>
        </div>
        <section>
            <div id="page-wrapper" class="sign-in-wrapper">
                <div class="graphs">
                    <div class="sign-in-form">
                        <div class="new_people">
                            <h2>TeamUp Guidelines</h2>
                        </div>
                        <div class="new_people">
                            <h3>You have a clear vision of the team you want to gather and have a project in mind.</h3>
                        </div>
                        <div class="new_people">
                            <h3>Explain why you want to gather a team, what is the project?.</h3>
                        </div>
                        <div class="new_people">
                            <h3>Explain what your role in this team is going to be.</h3>
                        </div>
                        <div class="new_people">
                            <h3>Describe what you expect from every team member.</h3>
                        </div>
                        <div class="new_people">
                            <h3>What will every team member get in return for joining your team? For example percentage profit/company.</h3>
                        </div>

                        <div class="new_people">
                            <h3>Everything is written in clear English.</h3>
                        </div>


                    </div>
                </div>
            </div>

        </section>
    </body>
</html>