<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/templates/adminTemplate.xhtml">
        <!-- Start  Header  of Home -->
        <ui:define name="header" >
                          <ui:include src="/pieces/headerOfUserLoggedIn.xhtml" />   
           
        </ui:define>
        <!-- End of Header -->
        <ui:define name="content">
           
            <!-- Books, sports and  hobbies -->
            <div class="total-ads main-grid-border">
                <div class="container">
                    <h:link value="Go back Home" outcome="userLoggedIn.xhtml"/> 

              
                    <div class="ads-grid">
                        <div class="ads-display col-md-9">
                            <div class="wrapper">					
                                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                            <div>
                                                <div id="container">
                                                    <h:form id="form">
                                                        <p:dataGrid var="user" value="#{createTeamBean.userModel}" columns="1" layout="grid"
                                                                    rows="12" paginator="true" id="cars"
                                                                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                    rowsPerPageTemplate="6,12,16">
                                                            <f:facet name="header">
                                                                Invitation
                                                            </f:facet>
                                                            <p:panel header="#{user.name}" style="text-align:center">
                                                                <h:panelGrid columns="1" style="width:100%">
                                                                    <img   width="200" height="200"  src="${user.profilePictureBase64}" alt="No profile picture" />
                                                                    <h:outputText value="#{user.url}" />
                                                                    <h:commandButton value="invite" action="#{createTeamBean.invite()}" > 
                                                                        <f:ajax execute="@form" render=":form" />
                                                                    </h:commandButton>
                                                                </h:panelGrid>
                                                            </p:panel>
                                                        </p:dataGrid>
                                                        <p:commandButton update="form" value="invite All "  actionListener="#{createTeamBean.inviteAll()}" action="#{teamDetailsBean.renderTeamDetails(createTeamBean.team.id)}" icon="ui-icon-check" /> 
                                                    </h:form>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="pagination pagination-sm">
                                            <li><a href="#">Prev</a></li>
                                            <li><a href="#">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>	
            </div>
            <!-- // Books, sports and  hobbies -->
        </ui:define>
    </ui:composition>
</html>