<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="templates/adminTemplate.xhtml">
        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>
        <ui:define name="content">
            <div class="submit-ad main-grid-border">
                <div class="container">
                    <h2 class="head">#{lang.MangaeYourSkill}</h2>
                    <div class="post-ad-form"    style=" border:none">

                        <div class="col-md-12">
                            <h:form prependId="false" class="col-md-12"  
                                    style=" border: .5px solid;
                                    border-color: #f0f0f0;">

                                <div class="col-md-9"   style="margin-top: 7px;">

                                    <h:outputLabel for="category" value="#{lang.category}" style="margin-right: 40px" />
                                    <h:selectOneMenu id="category" value="#{bean.category}" >
                                        <f:ajax listener="#{bean.onCategoryChanged()}" render ="skill" />
                                        <f:selectItem itemLabel="#{lang.SelectCategory}" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{bean.categories}" />
                                    </h:selectOneMenu>
                                    <h:outputText value="&lt;br/&gt;" escape="false" />
                                    <h:outputLabel for="skill" value="#{lang.skill}" style="margin-right: 40px" />
                                    <h:selectOneMenu id="skill" value="#{bean.skill}" converter="#{skillConverter}">
                                        <f:ajax render="result" event="change" listener="#{bean.submit()}"/>
                                        <f:selectItem itemLabel="#{lang.SelectSkill}" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{bean.skills}" />

                                    </h:selectOneMenu>
                                    <br/>

                                    <h:commandLink  class="account"
                                                    style=" margin-left: 202px"
                                                    value="Submit" type="submit" 
                                                    action="#{bean.addSkill()}"/>



                                </div>
                                <div class="col-md-3"  >

                                    <h3 style="color: #005384 ; margin-left: 20px"> My Skills</h3>  

                                    <!--<p:separator/>-->
                                    <h:dataTable id="result" value="#{bean.selected}" var="myListElement">
                                        <h:column>
                                            <h:panelGrid columns="2">
                                                <p:commandLink action="#{bean.remove(myListElement)}" 
                                                               ajax="true"
                                                               update="@form"
                                                               process="@this"
                                                               class="fa fa-times"
                                                               value="">

                                                </p:commandLink>
                                                <h:outputText value="#{myListElement}" ></h:outputText>

                                            </h:panelGrid>
                                        </h:column>
                                    </h:dataTable>

                                    <h:dataTable id="results" value="#{bean.userSkills}" var="myListElement">
                                        <h:column>

                                            <h:panelGrid columns="2" >
                                               <p:commandLink action="#{bean.deleteSkill(myListElement)}" 
                                                               ajax="true"
                                                               update="@form"
                                                               process="@this"
                                                               class="fa fa-times"
                                                               value="">

                                                </p:commandLink>

                                                <h:outputText value="#{myListElement}" ></h:outputText>

                                            </h:panelGrid>
                                        </h:column>
                                    </h:dataTable>

                                </div>



                            </h:form>
                        </div>    <!--- End Form 1-->

                    </div>

                    <!-- Div For Add New Skills -->
                    <div class="col-md-12"

                         style="margin-left: 50px;
                         border: .5px solid;
                         border-color: #f0f0f0;
                         margin-top: 12px;  ">

                        <div class="col-md-2"  >
                            <h:commandButton class="account" value="New Skill">
                                <f:ajax render=":menuForm :panel1" event="click" listener="#{bean.showPanel()}"/>
                            </h:commandButton>
                        </div>

                        <div class="col-md-10">
                            <h:panelGroup  layout="block" id="menuForm">
                                <h:form id="panel1" rendered="#{bean.show}">
                                    <h:outputLabel for="category" value="#{lang.category}" style="margin-right: 40px" />
                                    <h:selectOneMenu id="category" value="#{bean.categoryForNewSkill}" >
                                        <f:selectItem itemLabel="#{lang.SelectCategory}" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{bean.categories}" />
                                    </h:selectOneMenu>

                                    <h:outputText value=" Skill " />
                                    <h:inputText id="nskill" value="#{bean.newSkill}"/> 
                                    <p:commandButton style="margin-right: 40px"
                                                     action="#{bean.addNewSkill()}" value="Add">
                                        <f:ajax execute="@form" render=":panel1" />
                                    </p:commandButton>
                                    <h:outputText id="feedBack" value=""/>
                                </h:form>
                            </h:panelGroup>
                        </div>

                    </div><!--End Div For Add new Skills -->



                </div><!--End Container -->


            </div>
        </ui:define>
    </ui:composition>

</html>