<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="templates/adminTemplate.xhtml">


        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>
        <!-- End of Header -->



        <ui:define name="content">
            <div class="container"  >
                <div class="row col-lg-12"  style="padding-left:200px;">
                    <h3 class="text-center" >Messages  </h3>
                    <br /><br />




                    <!--=================Left=======================-->
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Members on your Cycle
                            </div>
                            <div class="panel-body">
                                <div class="media-body">
                                    <h:form id="form">


                                        <p:dataList value="#{messageBean.userModel}"
                                                    var="user" type="unordered" 
                                                    itemType="none" paginator="false"
                                                    rows="10" >

                                            <p:commandLink update=":form:userDetail" 
                                                           action="#{messageBean.getAllMessagesHistory()}"
                                                           oncomplete="PF('userDialog').show()"
                                                           title="View Detail" 
                                                           styleClass="fa fa-envelope"
                                                           style="float:left;margin-right:10px">
                                                <f:setPropertyActionListener value="#{user}" target="#{messageBean.selectedUser}" />

                                                <f:ajax execute="@form" render=":chatt" />
                                                    <h:outputText value="#{user.name}" />
                                            </p:commandLink>
                                        
                                        </p:dataList>


                                        <p:dialog header="User Info" widgetVar="userDialog" modal="true" 
                                                  showEffect="blind" hideEffect="explode" resizable="false">
                                            <p:outputPanel id="userDetail" style="text-align:center;">
                                                <p:panelGrid  columns="2" rendered="#{not empty messageBean.selectedUser}" >
                                                    <f:facet name="header">
                                                        <h:outputText value="#{messageBean.selectedUser.name}" />

                                                    </f:facet>


                                                    <h:outputText value="Name" />
                                                    <h:outputText value="#{messageBean.selectedUser.name}" />
                                                    <h:outputText value="Email" />
                                                    <h:outputText value="#{messageBean.selectedUser.email}" />
                                                    <h:outputText value="About" />
                                                    <h:outputText value="#{messageBean.selectedUser.bio}" />


                                                </p:panelGrid>
                                            </p:outputPanel>
                                        </p:dialog>

                                    </h:form>


                                </div>
                            </div>
                        </div>

                    </div>
                    <!--====================End Left=================================-->
                    <!--========Right =============-->
                    <div class="col-md-8">
                        <h:form id="chatt">
                            <div class="panel panel-info" >
                                <div class="panel-heading"  style="background-color: ">
                                    RECENT CHAT HISTORY
                                </div>
                                <div class="panel" style="width:420px;height:200px">
                                    <ul class="media-list">
                                        <li class="media">

                                            <li class="fa fa-user "/>

                                            Chatting Now with :

                                            #{messageBean.selectedUser.name}
                                            <p:scrollPanel style="height: 178px; width: 412px;" id="scroll"> 
                                                <p:dataList
                                                    value="#{messageBean.messagesModel}"
                                                    var="message" type="unordered" 
                                                    id="messageBox"
                                                    itemType="none" 
                                                    rows="50" >
                                                    <h:outputText value="#{message}" id ="output" style="display:inline-block"/>
                                                </p:dataList>

                                            </p:scrollPanel>

                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <div class="input-group">

                                        <h:inputText style="height:60px"
                                                     value="#{messageBean.messageTemp}" 
                                                     id="messageTemp"  
                                                     class="form-control"
                                                     required="true"
                                                     requiredMessage="Message can’t be empty ..!"
                                                     a:placeholder="Enter Message">

                                        </h:inputText> 
                                        <h> <h:message  id="error" for="messageTemp" style="color:red"/></h>




                                        <span class="input-group-btn">

                                            <!--<button class="btn btn-info"  type="button">SEND</button>-->
                                            <h:commandButton 

                                                class ="button"  type="submit"  value="Send"  action ="#{messageBean.sendMessage()}">
                                                <f:ajax render="chatt" execute="messageTemp"/>
                                            </h:commandButton>




                                        </span>
                                    </div>
                                </div>
                            </div>


                        </h:form>
                    </div>
                    <!--========End Right =============-->

                </div>
            </div>





        </ui:define>

    </ui:composition>
</html>