<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:composition template="templates/adminTemplate.xhtml">


        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>



        <!-- content-starts-here -->
        <ui:define name="content">



            <h4  style="padding-left: 60px">Teams Sent you Invitation:#{notifyBean.teamModel.rowCount}</h4>
            <br/>
            <!--Team He Invited To--> 
            <div class="container"  align="center" style="padding-left: 72px;
                 border: .5px solid;
                 border-color: #01a185;
                 height:285px">

                <h:form id="formu">
                    <ui:repeat value="#{notifyBean.teamModel}" var="iterate">
                        <div class="col-md-2 focus-grid">

                            <div class="focus-border">
                                <div class="focus-layout">
                                    <div class="focus-image">
                                        <i class="fa" >
                                  <img   width="200" height="103"  src="${iterate.imageBase64}" alt="No team picture" />

                                        </i>


                                    </div>
                                    <h4 class="clrchg"> #{iterate.title}</h4>

                                    <p:commandLink onclick="PF('userDialog').show()"

                                                   value="about" style="color: #ffffff"/>

                                </div>
                            </div>
                            <h:commandLink  class="fa fa-check" value="Accept" action="#{notifyBean.operationOnInvitation(iterate.id,notifyBean.accept)}" > 
                                <f:ajax execute="@form" render=":formu" />
                            </h:commandLink>
                            <br/>
                            <h:commandLink class="fa fa-times"
                                           value="Reject"
                                           action="#{notifyBean.operationOnInvitation(iterate.id,notifyBean.reject)}" > 

                                <f:ajax execute="@form" render=":formu" />
                            </h:commandLink>
                        </div>
                        <p:dialog header="Team Information" widgetVar="userDialog" modal="true" 
                                  showEffect="blind" hideEffect="explode" resizable="false">
                            <p:outputPanel id="userDetail" style="text-align:center;">
                                <p:panelGrid  columns="2"  >
                                    <h:outputText value="Name" />
                                    <h:outputText value=" #{iterate.title}" />
                                    <h:outputText value="Description" />
                                    <h:outputText value=" #{iterate.description}" />


                                </p:panelGrid>
                            </p:outputPanel>
                        </p:dialog>


                    </ui:repeat>

                <p:poll interval="6" listener="#{notifyBean.notigyInvitedTeams()}" update="formu" />







                </h:form>






            </div><!--End Container --> 
            <!--End Team  Content He Invited To-->
            <br/><br/>

            <h4 style="padding-left: 60px">Users Are need Confirmation to join :#{notifyBean.userHasTeamModel.rowCount} </h4>
            <!--Team Need Confirmation--> 
            <div class="container"  align="center"
                 style="padding-left:72px;height:273px;border: .5px solid;
                 border-color: #01a185;">


                <h:form  id="formsu"> 
                    <ui:repeat value="#{notifyBean.userHasTeamModel}" var="teams"> 
                        <div class="col-md-2 focus-grid">

                            <div class="focus-border">
                                <div class="focus-layout">
                                    <div class="focus-image">
                                        <i class="fa" >
                                           <img   width="200" height="103"  src="${teams.team.imageBase64}" alt="No team picture" />


                                        </i>
                                    </div>
                                    <h4 class="clrchg"> #{teams.team.title}</h4>
                                    <h5 class="clrchg">Member Name : #{teams.users.name}</h5>
                                </div>
                            </div>

                            <h:commandLink value="Confirm" action="#{notifyBean.confirm()}" > 
                                <f:ajax execute="@form" render=":formsu" />
                            </h:commandLink>

                        </div>



                    </ui:repeat>
               <p:poll interval="5" listener="#{notifyBean.getUserWhoAcceptInvtation()}" update="formsu" />

                </h:form>

            </div><!--End Container -->
            <h></h>

            <!--End Team Need Confirmation-->







        </ui:define>


    </ui:composition>



</html>

