<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="templates/adminTemplate.xhtml">
        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>
        <!-- End of Header -->
        <ui:define name="content">
            <div class="terms main-grid-border">
                <div class="container"  align="center">
                    <h2 class="head">#{loginBean.currentUser.name}</h2>
                    <div class="panel-group" id="accordion"   >
                        <!-- First Panel -->
                        <div class="panel panel-default" style="width: 300px;border-color: #01a185" >
                            <div class="panel-heading" >
                                <h4 class="panel-title" data-toggle="collapse" style="color: #005384"  data-target="#collapseOne">
                                    <span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> 
                                    Bio 
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p   style="color:#000000
                                         ">
                                        #{loginBean.currentUser.bio}

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Second Panel -->
                        <div class="panel panel-default" style="width: 300px;border-color: #01a185">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="color: #005384" data-toggle="collapse"  data-target="#collapseTwo">
                                    <span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> Skills
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">					
                                    <ui:repeat value="#{loginBean.currentUser.userHasSkills.toArray()}" var="skill">

                                        <h:outputText value="#{skill.skills.name}" 
                                                      style="color:#000000">
                                            rendered="#{skill.skills.skillsStatus.statusName  eq 'activated'}">             
                                        </h:outputText>
                                        <br/>
                                    </ui:repeat>
                                </div>
                            </div>
                        </div>

                        <!-- Third Panel -->
                        <div class="panel panel-default" style="width: 300px;border-color: #01a185" >
                            <div class="panel-heading" >
                                <h4 class="panel-title" data-toggle="collapse" style="color: #005384"  data-target="#collapseThree">
                                    <span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> 
                                    Phone 
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p   style="color:#000000
                                         ">
                                        #{loginBean.currentUser.phone}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Email Panel -->
                        <div class="panel panel-default" style="width: 300px;border-color: #01a185" >
                            <div class="panel-heading" >
                                <h4 class="panel-title" data-toggle="collapse" style="color: #005384"  data-target="#collapseFour">
                                    <span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> 
                                    Email 
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p   style="color:#000000
                                         ">
                                        #{loginBean.currentUser.email}

                                        </p>
                                </div>
                            </div>
                        </div>



                        <!--Buuton 1--> 
                        <div class=" panel-default" style="width: 300px;" >
                            <div class="panel-heading" >


                                <a href="editProfile.xhtml"  class="account" >
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    #{lang.EditProfile}
                                </a>


                            </div>

                        </div>
                        <!--GButton 2 --> 

                        <div class=" panel-default" style="width: 300px;" >
                            <div class="panel-heading" >
                                <h:form>
                                <h:commandLink  class="account"  action="#{bean.render()}"> 
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                   #{lang.MangaeYourSkill}
                                </h:commandLink>                                    
                                </h:form>

                            </div>

                        </div>


                        <!--==============End Button =========-->
                    </div>

                </div>
            </div>

        </ui:define>


    </ui:composition>
</html>