


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <ui:composition template="/templates/adminTemplate.xhtml">

        <!-- Start  Header  of Home -->

        <ui:define name="header" >
            <ui:include src="/pieces/headerOfHome.xhtml" />            
        </ui:define>
        <!-- End of Header -->




        <ui:define name="content">



            <section>
                <div id="page-wrapper" >
                    <div class="graphs">

                        <h:form>


                            <div class="sign-up">
                                <h1>Create an account</h1>

                                <h2>Personal Information</h2>


                                <div class="sign-u">
                                    <div class="sign-up1">
                                        <h4>Name:  <font size="3" color="red">* </font></h4>
                                    </div>
                                    <div class="sign-up2">


                                        <h:inputText value="#{signupbean.user.name}"  id="name" required="true"  
                                                     requiredMessage="Please enter your name" 
                                                     a:placeholder="WHO ARE YOU ?"
                                                     validatorMessage="Minimum 4 character"
                                                     maxlength="30">
                                            <f:validateLength minimum="4"  />
                                        </h:inputText>
                                        <h> <h:message for="name" style="color:red"/></h>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>


                                <div class="sign-u">
                                    <div class="sign-up1">
                                        <h4>Email: <font size="3" color="red">* </font> </h4>
                                    </div>
                                    <div class="sign-up2">

                                        <h:inputText 
                                            value="#{signupbean.user.email}"  id="email"
                                            required="true"  
                                            requiredMessage="Please enter your Email" 
                                            a:placeholder="EXAMPLE@EMAIL.COM"
                                            validator= "#{signupbean.validateEmail}"
                                            >
                                            <f:ajax event="blur" render="nameError"/>
                                            <f:validator validatorId="validMail" />


                                        </h:inputText>
                                        <h> <h:message  id="nameError" for="email" style="color:red"/></h>


                                    </div>
                                    <div class="clearfix"> </div>
                                </div>




                                <div class="sign-u">
                                    <div class="sign-up1">
                                        <h4>Password: <font size="3" color="red">* </font></h4>
                                    </div>
                                    <div class="sign-up2">

                                        <h:inputSecret value="#{signupbean.user.password}"  id="password" 
                                                       rendered="true"
                                                       requiredMessage="Please enter Password" 
                                                       a:placeholder="PASSOWRD"
                                                       maxlength="30"
                                                       validatorMessage="Minimum 6 character">
                                            <f:validateLength minimum="6"  />
<f:ajax event="keyup" render="ErrorPassword" />
                                        </h:inputSecret>


                                        <!--<span class="ss-icon">check</span>-->
                                        <h> <h:message  id ="ErrorPassword" for="password" style="color:red"/></h>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>

                                <div class="sign-u">
                                    <div class="sign-up1">
                                        <h4>Phone:</h4>
                                    </div>
                                    <div class="sign-up2">

                                        <h:inputText value="#{signupbean.user.phone}"  
                                                     id="phone" 
                                                     a:placeholder="Phone Number "
                                                     validatorMessage="Please Enter Valid phone"
                                                     >
                                            <f:validateLongRange  minimum="11" />

                                        </h:inputText>
                                        <h> <h:message for="phone" style="color:red"/></h>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="sign-u">
                                    <div class="sign-up1">
                                        <h4>linkedin:  </h4>
                                    </div>
                                    <div class="sign-up2">

                                        <h:inputText value="#{signupbean.user.url}"  id="url"  a:placeholder="Linked In URL"/>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="sign-u">
                                    <div class="sign-up1">
                                        <h4>BIO: <font size="3" color="red">* </font></h4>
                                    </div>
                                    <div class="sign-up2">
                                        <h:inputTextarea  cols="42" rows="4" 
                                                          required="true"
                                                          requiredMessage="Tell Us About your Skills"
                                                          id="bio"  
                                                          value="#{signupbean.user.bio}"
                                                          a:placeholder="Tell others about your Experince">
                                            <f:ajax event="keyup"  render="ErrorBio"/>
                                        </h:inputTextarea> 
                         <h> <h:message  id ="ErrorBio" for="bio" style="color:red"/></h>

                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <br/><br/>


                                <div class="sub_home">
                                    <div class="sub_home">


                                        <div class="sign-up2"  align="right">

                                      
                                    <br/><br/>  
                                            <p:fileUpload  
                                                fileUploadListener="#{fileUploadView.handleFileUpload}" 
                                                mode="advanced"
                                                auto="true" update="messages"
                                                dragDropSupport="true"
                                                label="Upload photo "
                                              
                                                sizeLimit="100000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

                                   
                                          <p:messages id="messages" autoUpdate="true" closable="true" />
                                            <h:commandButton class ="button"  type="submit"  value="Register "  action ="#{signupbean.addUser}"/>
                                        </div>

                                    </div>


                                    <br/><br/>   <br/><br/>

                                    <div class="clearfix"> </div>
                                </div>

                            </div>

                            <p align="center">Go Back to <a href="index.xhtml">Home</a></p>
                        </h:form>
                    </div>


                </div>

            </section>


        </ui:define>















    </ui:composition>


</html>