<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">


    <ui:composition template="templates/adminTemplate.xhtml">
        <ui:define name="header" >
            <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
        </ui:define>
        <!-- content-starts-here -->
        <ui:define name="content">

            <div class="content">
                <a href="#{team.renderTeamPage()}" class="account" 
                   style="
                   background-color: #D4880F;
                   align-items: center;
                   padding-left: 18px;
                   margin-left: 555px">

                    <i class="fa fa-cogs"></i>
                    Create Team</a>

                <div class="clearfix"></div>
                <div class="categories" >

                    <div class="container" >
                        <div class="clearfix"></div>
              <div class="trend-ads" >
                            <ul id="flexiselDemo3" >

                                <li>
                                    <ui:repeat value="#{teamBean.teamAsOwner}" var="myTeam">
                                       
                                        <h:form styleClass="col-md-3 ">
                                            <h:commandLink styleClass="col-md-12 " value="" action="#{teamDetailsBean.renderTeamDetails(myTeam.id)}"> 
                                                <div class="col-md-12 biseller-column">
                                                    <img src="${myTeam.imageBase64}" alt="" />
                                                    <span class="price">Owner</span>

                                                    <div class="ad-info">
                                                        <h5>#{myTeam.title}</h5>
                                                        <span></span>
                                                    </div>

                                                </div>

                                            </h:commandLink>
                                            <h:commandButton  
                                                styleClass="col-md-12 "
                                                class="account" 
                                                style="height: 35px"

                                                value="Add Members"
                                                action="#{teamBean.inviteMoreMemberToTeam(myTeam)}">

                                                <i class="fa af-user-add-outline"></i>

                                            </h:commandButton>

                                        </h:form>
                                    </ui:repeat>
                                </li>



                            </ul>
                            <script type="text/javascript">
                                $(window).load(function () {
                                    $("#flexiselDemo3").flexisel({
                                        visibleItems: 1,
                                        animationSpeed: 1000,
                                        autoPlay: false,
                                        autoPlaySpeed: 5000,
                                        pauseOnHover: true,
                                        enableResponsiveBreakpoints: true,
                                        responsiveBreakpoints: {
                                            portrait: {
                                                changePoint: 480,
                                                visibleItems: 1
                                            },
                                            landscape: {
                                                changePoint: 640,
                                                visibleItems: 1
                                            },
                                            tablet: {
                                                changePoint: 768,
                                                visibleItems: 1
                                            }
                                        }
                                    });

                                });
                            </script>

                            <h:outputScript  library="js" name="jquery.flexisel.js" />

                        </div>

                        <!-- //slider -->




                        <div class="clearfix"></div>



                        <div class="trending-ads" >
                            <div class="container">
                                <!-- slider -->
                                <div class="trend-ads">
                                    <ul id="flexiselDemo3">

                                        <li>

                                            <ui:repeat value="#{teamBean.teamAsMember}" var="myTeamAsMember">
                                                <h:form>
                                                    <h:commandLink value="" action="#{teamDetailsBean.renderTeamDetails(myTeamAsMember.id)}"> 
                                                        <div class="col-md-2 biseller-column">
                                                            <img src="${myTeamAsMember.imageBase64}" alt="" />
                                                            <span class="price">Member</span>

                                                            <div class="ad-info">
                                                                <h5>#{myTeamAsMember.title}</h5>

                                                            </div>

                                                        </div>

                                                    </h:commandLink>

                                                </h:form>
                                            </ui:repeat>
                                        </li>



                                    </ul>
                                    <script type="text/javascript">
                                        $(window).load(function () {
                                            $("#flexiselDemo3").flexisel({
                                                visibleItems: 1,
                                                animationSpeed: 1000,
                                                autoPlay: false,
                                                autoPlaySpeed: 5000,
                                                pauseOnHover: true,
                                                enableResponsiveBreakpoints: true,
                                                responsiveBreakpoints: {
                                                    portrait: {
                                                        changePoint: 480,
                                                        visibleItems: 1
                                                    },
                                                    landscape: {
                                                        changePoint: 640,
                                                        visibleItems: 1
                                                    },
                                                    tablet: {
                                                        changePoint: 768,
                                                        visibleItems: 1
                                                    }
                                                }
                                            });

                                        });
                                    </script>

                                    <h:outputScript  library="js" name="jquery.flexisel.js" />

                                </div>   
                            </div>
                            <!-- //slider -->				
                        </div>

                    </div>
                </div>


            </div>
            <!--try Slider option-->



        </ui:define>
    </ui:composition>
</html>