<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"

      xmlns:p="http://primefaces.org/ui"

      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="templates/adminTemplate.xhtml">
        <ui:define name="header" >
          
        </ui:define>

        <!-- content-starts-here -->
        <ui:define name="content">
            <p:growl id="messageHint" showDetail="true" />
              <ui:include src="pieces/headerOfUserLoggedIn.xhtml"/>
            <!--single-page-->
            <div class="single-page main-grid-border" style="padding-top: 0px">
                <div class="container" >

                    <div class=" col-md-12 product-desc"  style="align-items: center;padding-left: 213px ">
                        <div class="col-md-6 product-view">

                            <h3  >
                                #{teamDetailsBean.team.title}</h3>
                            <div style="width: 200px;height: 170px">
                                <p>     
                                    <img  class="p-price" style="float: left" width="150" height="150"  src="${teamDetailsBean.team.imageBase64}" alt="" />

                                </p>

                            </div>

                            <div  class="product-details">
                                <p> <h:outputText value="#{teamDetailsBean.team.startDate}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                    </h:outputText>
                                </p> 

                                <p><strong>Number of Team  members: </strong> 
                                    #{teamDetailsBean.teamLength}</p>


                                <p><strong>Duration </strong>: #{teamDetailsBean.team.durationDays}#{lang.month}</p>
                                <p><strong>Description</strong> : #{teamDetailsBean.team.description}</p>
                            </div>
                            <h:form id="form">
                                <h:commandButton value="De-Activate" action="#{teamDetailsBean.changeStatus(true)}" 
                                                 rendered="#{teamDetailsBean.owner and teamDetailsBean.teamStatus eq 'active'}"
                                                 class="account"
                                                 style="width: 131px;height: 34px;"
                                                 >
                                    <f:ajax execute="@form" render=":form" />
                                </h:commandButton>  
                                <h:commandButton  value="Active"
                                                  action="#{teamDetailsBean.changeStatus(false)}" 
                                                  rendered="#{teamDetailsBean.owner 
                                                              and teamDetailsBean.teamStatus eq 'cancelled'}"
                                                  style="width: 131px;height: 34px;">
                                    <f:ajax execute="@form" render=":form" />
                                </h:commandButton>



                            </h:form>
                        </div>
                        <!--==================================================================-->
                        <c:if test="#{not empty teamDetailsBean.users}">

                            <div class="col-md-5 product-view" >
                                <h:outputText value="Members"/> 
                                <ui:repeat value="#{teamDetailsBean.users}" var="user">
                                    <div class="condition">
                                        <div class="product-price">
                                            <img   class="p-price" style="float: left" width="40" height="40"  src="${user.user.profilePictureBase64}" alt="No profile picture" />
                                            <p class="p-price">#{user.user.name}</p>
                                            <h:outputFormat  class="status" value ="#{lang.WAcceptance}" rendered="#{user.teamMemberStatus.memberStatus eq 'invite'}" /> 
                                            <h:outputLabel class="status" value ="#{lang.Member}" rendered="#{user.teamMemberStatus.memberStatus eq 'confirm'}" /> 
                                            <h:outputLabel class="status" value ="#{lang.WConfirmation}" rendered="#{user.teamMemberStatus.memberStatus eq 'accept'}" /> 
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </ui:repeat>



                                <h:form>
                                    <p:commandButton value="Notify Team "

                                                     rendered="#{teamDetailsBean.owner}" 
                                                     onclick="PF('dlg3').show();"
                                                     class="focused"
                                                     style="width: 150px;height: 34px; align-items: center"/>

                                </h:form>

                            </div>
                        </c:if> 
                        <p:dialog header="#{teamDetailsBean.team.title} " 
                                  widgetVar="dlg3" 
                                  showEffect="explode"
                                  height="231.333px" width="268px"
                                  resizable="true"
                                  >


                            <h:form id="chat">
                                <div class="col-md-13">
                                    <div class="panel panel-info" >
                                        <div class="panel-heading"  style="height: 20px">
                                            #{loginBean.currentUser.name}
                                        </div>
                                        <div class="panel-body">
                                            <ul class="media-list">

                                                <li class="media">

                                                    <div class="media-body">

                                                        <div class="media">
                                                            <ui:remove>
                                                                <!--                                                <div class="media-body" >
                                                                                                                    <h:outputText value="#{teamDetailsBean.team.title}"  id ="outputMessage" style="display:inline-block"/>
                                                                                                                    <br />
                                                                                                                    <hr />
                                                                                                                </div>-->
                                                            </ui:remove>
                                                        </div>

                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="input-group">

                                                <h:inputText style="height:60px"
                                                             value="#{messageBean.messageTemp}" 
                                                             id="inputMessage"  
                                                             class="form-control"
                                                             required="true"
                                                             requiredMessage="Message can’t be empty ..!"
                                                             a:placeholder="Enter Message">

                                                </h:inputText> 
                                                <span class="group-btn">
                                                    <p:commandButton
                                                        value="SEND"
                                                        update="messageHint"
                                                        style="width: 90px ; height: 30px;align-items: center"
                                                        type="submit" 
                                                        actionListener="#{messageBean.display()}" 
                                                        action ="#{messageBean.OwnersendMessageToAllTeam(teamDetailsBean.users)}"
                                                        onclick="dlg3.hide()" />

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </h:form>
                        </p:dialog>
                    </div>
                </div>
            </div>

            <!--//End Content--> 


            <!--===============================Message Page Div=====================--> 

            <!--//single-page-->
        </ui:define>
    </ui:composition>
</html>