<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <ui:insert name="head" >
            <ui:include src="../common/head.xhtml" />
        </ui:insert>

<!--        <h:outputScript name="/resources/js/app.min.js"/>
        <h:outputScript library="js" name="bootstrap.min_1.js" />
        <h:outputScript library="js" name="dataTables.bootstrap.min.js"/>
        <h:outputScript library="js" name="demo.js"/>
        <h:outputScript library="js" name="fastclick.js"/>
        <h:outputScript library="js" name="jquery.dataTables.min.js" />
        <h:outputScript library="js" name="jquery.slimscroll.min.js"/>
        <h:outputScript library="js" name="jQuery-2.2.0.min.js" />-->

    </h:head>


    <h:body>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <ui:insert name="header" >
                <ui:include src="../common/header.xhtml" />
            </ui:insert>

            <ui:insert name="leftside" >
                <ui:include src="../common/leftside.xhtml" />
            </ui:insert>

            <section class="content-header">
                <h1>
                    Data Skills
                    <small>advanced skills</small>
                </h1>
                <ol class="breadcrumb">
                    <li><h:link class="fa fa-dashboard-o" outcome="login.xhtml">Home</h:link></li>
                    <li><h:link class="active" outcome="activationskills.xhtml">Data Skills</h:link></li>

                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Hover Data Skills</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <h:form id="formId">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Skills Name</th>
                                                <th>Skills Category</th>
                                                <th>Active Skills</th>
                                                <!--<th>Deactive Skills</th>-->
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <c:forEach items="#{adminSkillsBean.waitingSkills}" var="v">
                                                <tr>
                                                    <td>
                                                        #{v.name}
                                                    </td>
                                                    <td>
                                                        #{v.skillCategory.name}
                                                    </td>                              
                                                    <td>
                                                        <p:inputSwitch value="#{adminSkillsBean.enabled}" >
                                                            <p:ajax listener="#{adminSkillsBean.activeToggle(v.id,v.skillsStatus.id)}" update="@all"/>
                                                        </p:inputSwitch>
                                                    </td>
                                                </tr>
                                            </c:forEach>

                                        </tbody>
                                    </table>
                                </h:form>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.1
            </div>
            <!--            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
                        reserved.-->
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            </ul>

        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

        <!-- ./wrapper -->


    </h:body>
</html>
