<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <!--<ui:include src="head.xhtml"/>-->

    <h:body>
        <section>
<!--            <div id="page-wrapper" class="sign-in-wrapper">
                <div class="graphs">
                    <div class="sign-in-form">-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">

                                    <div class="box-body">
                                        <div class="box-header">
                                            <h3 class="box-title">Add Data Skills</h3>
                                        </div>
                                        <h:form>
                                            <table id="example3" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Skills Name</th>
                                                        <th>Skills Category</th>
                                                        <th>Add Skills</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <h:inputText value="#{adminSkillsBean.name}" id="name" required="true" size="40" maxlength="35" 
                                                                         requiredMessage="Please enter Skill Name."/>
                                                            <h> <h:message  id="nameError" for="name" style="color:red" /></h>
                                                        </td>
                                                        <td>
                                                            <h:selectOneMenu value="#{adminSkillsBean.catId}" id="it" >
                                                                <f:selectItems value="#{adminSkillCategoryBean.allSkillCategory}" var="item" itemLabel="#{item.name}" itemValue="#{item.id}"></f:selectItems>
                                                            </h:selectOneMenu>
                                                        </td>
                                                        <td>
                                                            <h:commandButton value="Add Skill" type="submit" action="#{adminSkillsBean.addSkill()}" />
                                                        </td>                                               
                                                    </tr>                                        
                                                </tbody>
                                            </table>
                                        </h:form>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                    </div>
                </div>
            </div>-->
        </section>
    </h:body>
</html>