<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:insert name="head" >
        <ui:include src="../common/head.xhtml" />
    </ui:insert>
    <h:body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <b>Team</b>UP
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <h:form>
                    <div class="form-group has-feedback">
                        <h:inputText class="form-control" value="#{adminBean.email}" id="email" required="true" maxlength="50" 
                                     requiredMessage="Please enter Skill Name."/>
                        <h> <h:message  id="nameError" for="name" style="color:red" /></h>
                        <!--<input type="email" class="form-control" placeholder="Email">-->
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <h:inputSecret class="form-control" value="#{adminBean.password}" id="password" required="true" maxlength="30" />
                        <!--<input type="password" class="form-control" placeholder="Password">-->
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <h:commandButton class="btn btn-primary btn-block btn-flat" value="Login" action="#{adminBean.adminLogin()}">
                                <!--                <f:ajax execute="name password" render="out"/>-->
                            </h:commandButton>
                        </div>
                        <!-- /.col -->
                    </div>
                </h:form>

            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

        <h:outputScript name="/resources/js/jQuery-2.2.0.min.js"/>
        <h:outputScript name="/resources/js/bootstrap.min_1.js"/>
        <h:outputScript name="/resources/js/icheck.min.js"/>
        <script type="text/javascript">
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
            });
        </script>
    </h:body>

</html>
