<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <ui:insert name="head" >
            <ui:include src="../common/head.xhtml" />
        </ui:insert>

    </h:head>
    <h:body>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <ui:insert name="header" >
                <ui:include src="../common/header.xhtml" />
            </ui:insert>

            <ui:insert name="leftside" >
                <ui:include src="../common/leftside.xhtml" />
            </ui:insert>

            <section class="content-header">
                <h1>
                    TeamUP Report
                    <small>advanced teams statistics</small>
                </h1>
                <ol class="breadcrumb">
                    <li><h:link class="fa fa-dashboard-o" outcome="login.xhtml">Home</h:link></li>
                    <li><h:link class="fa fa-dashboard-o" outcome="teamreport.xhtml">Team Report</h:link></li>

                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Hover Data Teams Report</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <h:form>
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Team Name</th>
                                                <th>Team Owner</th>
                                                <th>Team Members</th>
                                                <th>Team Skills</th>
                                                <th>Team Description</th>
                                                <th>Team Status</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <c:forEach items="#{adminUserHasTeamBean.teamReport}" var="v">
                                                <tr>
                                                    <td>
                                                        #{v.team.title}
                                                    </td>
                                                    <td>
                                                        #{v.users.name}
                                                    </td>   
                                                    <td>
                                                        <select size="4" >
                                                            <c:forEach items="#{adminUserHasTeamBean.getTeamMembersByUser(v.team.id)}" var="m">                                                                   
                                                                <option >#{m.users.name}</option>
                                                            </c:forEach>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select size="4" >
                                                            <c:forEach items="#{adminTeamHasSkillsBean.getTeamMembersByUser(v.team.id)}" var="t">                                                                   
                                                                <option >#{t.skills.name}</option>
                                                            </c:forEach>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        #{v.team.shortDescription}
                                                    </td>
                                                    <td>
                                                        #{v.team.teamStatus.status}
                                                    </td>

                                                </tr>
                                            </c:forEach>

                                        </tbody>
                                    </table>
                                </h:form>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.1
            </div>
            <!--            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
                        reserved.-->
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            </ul>

        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

        <!-- ./wrapper -->


    </h:body>
</html>
