<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title>TODO supply a title</title>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="bootstrap.min_2.css"  />
        <h:outputStylesheet library="css" name="AdminLTE.min.css"  />
        <h:outputStylesheet library="css" name="_all-skins.min.css"  />
        <h:outputStylesheet library="css" name="blue.css"  />
        <!--        <h:outputStylesheet library="css" name="font-awesome1.min.css"  />
                <h:outputStylesheet library="css" name="ionicons.min.css"  />-->
        <!--        <h:outputStylesheet library="css" name="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"/>
                <h:outputStylesheet library="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>-->

        <h:outputScript name="/resources/js/app.min.js"/>
        <h:outputScript library="js" name="bootstrap.min_1.js" />
        <h:outputScript library="js" name="dataTables.bootstrap.min.js"/>
        <h:outputScript library="js" name="demo.js"/>
        <h:outputScript library="js" name="fastclick.js"/>
        <h:outputScript library="js" name="jquery.dataTables.min.js" />
        <h:outputScript library="js" name="jquery.slimscroll.min.js"/>
        <h:outputScript library="js" name="jQuery-2.2.0.min.js" />
    </h:head>

</html>
