
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <!--        <ui:insert name="head" >
                    <ui:include src="head.xhtml" />
                </ui:insert>-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="bootstrap.min_2.css"  />
        <h:outputStylesheet library="css" name="AdminLTE.min.css"  />
        <h:outputStylesheet library="css" name="_all-skins.min.css"  />
        <h:outputStylesheet library="css" name="blue.css"  />
        <link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
        <link href='//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'/>

                <h:outputStylesheet library="css" name="font-awesome1.min.css"  />
                <h:outputStylesheet library="css" name="ionicons.min.css"  />
        <!--        <h:outputStylesheet library="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"/>
                <h:outputStylesheet library="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>-->

    </h:head>

    <h:body>
        <h:outputScript library="js" name="/resources/js/jQuery-2.2.0.min.js" />
        <h:outputScript library="js" name="/resources/js/bootstrap.min_1.js" />
        <h:outputScript library="js" name="jquery.dataTables.min.js" />
        <h:outputScript library="js" name="/resources/js/dataTables.bootstrap.min.js" />
        <h:outputScript library="js" name="jquery.slimscroll.min.js" />
        <h:outputScript library="js" name="fastclick.js" />
        <h:outputScript library="js" name="app.min.js" />
        <h:outputScript library="js" name="/resources/js/demo.js" />
        <ui:composition>
            <header class="main-header">
                <!-- Logo -->
                <h:link class="logo">
                    <!--<a href="../../index2.html" class="logo">-->

                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Team</b>UP</span>
                    <!--</a>-->
                </h:link>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->

                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <h:link class="dropdown-toggle" >
                                    <h:graphicImage  library="images" name="user2-160x160.jpg" class="user-image" alt="User Image"/>  
                                    <span class="hidden-xs">Ahmed ElGazzar</span>
                                </h:link>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <h:graphicImage  library="images" name="user2-160x160.jpg" class="img-circle" alt="User Image"/>  
                                        <p>
                                            Ahmed ElGazzar - Java Developer
                                            <small>Member since Nov. 2015</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->

                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <h:link  class="btn btn-default btn-flat" value="Profile" outcome="#"/> 
                                        </div>
                                        <div class="pull-right">
                                            <!--<h:link  class="account" value="Sign out" outcome="login.xhtml"/>--> 
                                            <h:commandLink value="Log-Out" class="account" action="#{adminBean.logout()}"/>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <!--          <li>
                                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                                      </li>-->
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- jQuery 2.2.0 -->

        </ui:composition>
    </h:body>
</html>