<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="bootstrap.min_2.css"  />
        <h:outputStylesheet library="css" name="AdminLTE.min.css"  />
        <h:outputStylesheet library="css" name="_all-skins.min.css"  />
        <h:outputStylesheet library="css" name="blue.css"  />

        <link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
        <link href='//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'/>

        <!--<h:outputStylesheet library="css" name="font-awesome1.min.css"  />-->
        <h:outputStylesheet library="css" name="ionicons.min.css"  />
        <!--<h:outputStylesheet library="css" name="font-awesome1.min.css"  />-->
        <!--<h:outputStylesheet library="css" name="ionicons.min.css"  />-->
        <!--        <h:outputStylesheet library="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"/>
                <h:outputStylesheet library="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>-->

        <h:outputScript name="/resources/js/app.min.js"/>
        <h:outputScript library="js" name="bootstrap.min_1.js" />
        <h:outputScript library="js" name="dataTables.bootstrap.min.js"/>
        <h:outputScript library="js" name="demo.js"/>
        <h:outputScript library="js" name="fastclick.js"/>
        <h:outputScript library="js" name="jquery.dataTables.min.js" />
        <h:outputScript library="js" name="jquery.slimscroll.min.js"/>
        <h:outputScript library="js" name="jQuery-2.2.0.min.js" />
    </h:head>
    <h:body>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <h:graphicImage library="images" name="AhmedElGazzar_1.jpg" class="img-circle" alt="User Image"/>
                    </div>
                    <div class="pull-left info">
                        <p>Ahmed ELGazzar</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <h:form class="sidebar-form">
                    <div class="input-group">

                        <!--<input type="text" name="q" class="form-control" placeholder="Search..."/>-->
                        <span class="input-group-btn">
                            <!--                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                                                        </button>-->
                        </span>
                    </div>
                </h:form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <h:form>
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="treeview">
                            <li><h:link class="fa fa-circle-o" outcome="/AdminPages/pages/examples/activationskills.xhtml">Activation Skills
                                    <small class="label pull-right bg-yellow">
                                        <h:form>
                                            #{adminSkillsBean.countOfWaitingSkills}
                                        </h:form>
                                    </small></h:link></li>
                            <li><h:link class="fa fa-circle-o" outcome="/AdminPages/pages/examples/manageskills.xhtml">  Manage Skills</h:link></li>
                            <li><h:link class="fa fa-circle-o" outcome="/AdminPages/pages/examples/manageskillsCategory.xhtml">  Manage Category Skills</h:link></li>
                            <li><h:link class="fa fa-circle-o" outcome="/AdminPages/pages/examples/teamreport.xhtml">  Team Report</h:link></li>
                        </li>

                        <li class="treeview active">
                            <a href="#">
                                <!--<i class="fa fa-folder"></i> <span>Administration</span>-->
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <!--<li class="active"><h:link class="active" outcome="/AdminPages/pages/examples/profile.xhtml"><i class="fa fa-circle-o"></i>Profile</h:link></li>-->
                                <!--<li><h:link class="fa fa-circle-o" outcome="/AdminPages/pages/examples/login.xhtml">Login</h:link></li>-->
                                <li><h:commandLink value="Log-Out" class="account" action="#{adminBean.logout()}"/></li>
                                <!--<li><h:link class="fa fa-circle-o" outcome="/AdminPages/pages/examples/logout.xhtml">Logout</h:link></li>-->

                            </ul>
                        </li>
                    </ul>
                </h:form>
            </section>
            <!-- /.sidebar -->
        </aside>
    </h:body>
</html>
