<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:outputScript name="/resources/js/app.min.js"/>
        <h:outputScript library="js" name="bootstrap.min_1.js" />
        <h:outputScript library="js" name="dataTables.bootstrap.min.js"/>
        <h:outputScript library="js" name="demo.js"/>
        <h:outputScript library="js" name="fastclick.js"/>
        <h:outputScript library="js" name="jquery.dataTables.min.js" />
        <h:outputScript library="js" name="jquery.slimscroll.min.js"/>
        <h:outputScript library="js" name="jQuery-2.2.0.min.js" />
    </h:body>
</html>
