<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">   


<footer>
        
            <div class="footer-bottom text-center">
                <div class="container">
                    <div class="footer-logo">
                        <a href="userLoggedIn.xhtml"><span>Team</span>UP</a>
                    </div>
                    <div class="footer-social-icons">
                        <ul>
                            <li>
                                <a class="facebook" href="/signup.xhtml">
                                    <span>Facebook</span>
                                
                                </a></li>
                            <li><a class="twitter" href="#"><span>Twitter</span></a></li>
                            <li><a class="flickr" href="#"><span>Flickr</span></a></li>
                            <li><a class="googleplus" href="#"><span>Google+</span></a></li>
                               <li><a class="facebook" href="#"><span>Tester</span></a></li>
                            <!--<li><a class="dribbble" href="#"><span>Dribbble</span></a></li>-->
                        </ul>
                    </div>
                    <div class="copyrights">
                        <p> © 2016 Resale. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>
    
    
</ui:composition>