<ui:composition  xmlns="http://www.w3.org/1999/xhtml"

                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:f="http://xmlns.jcp.org/jsf/core"
                 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">


    <div class="header">
        <div class="container">
            <div class="logo">
                <h:link value=""   outcome="userLoggedIn.xhtml"> 
                    <span>Team</span>Up
                </h:link>
            </div>
            <div class="header-right">
                <h:form id="formsH">

                    <h:commandLink  class="account"  action="#{teamBean.renderPage()}"> 
                        <i class="fa fa-group"></i> 
                        Teams
                    </h:commandLink>
                    <h:commandLink  class="account"  action="#{loginBean.refreshUser()}"> 
                        <i class="fa fa-user"></i>
                        #{loginBean.currentUser.name} 
                    </h:commandLink>
                    <h:commandLink  class="account"  action="#{messageBean.renderPage()}"> 
                        <i class="fa fa-envelope"></i> 
                        Message
                    </h:commandLink>
                    <h:commandLink class="account" action="#{notifyBean.renderPage()}"> 
                        <!--<h:graphicImage  library="images" name="user.png" />-->  
                        <i class="fa   fa-bell"></i>
                        <small class="label pull-right bg-yellow" style="color: #F44336">
                          #{notifyBean.count}
                        </small>
                        Notification
                    </h:commandLink>
                    
                    <h:commandLink class="account"
                                   action="#{loginBean.logout()}">
                     <i class="fa   fa-power-off"></i>
                     Log-Out
                    </h:commandLink>
                    <p:poll rendered="#{view.viewId != '/Notification.xhtml'}" interval="8" listener="#{notifyBean.getData()}" update="formsH" />
                </h:form>

                <!--                <span class="active uls-trigger"> </span>-->

            </div>
        </div>
    </div>
</ui:composition>   