<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:f="http://xmlns.jcp.org/jsf/core"
                 xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <div class="header">
        <div class="container">
            <div class="logo">
                <h:link value=""   outcome="index.xhtml"> 

                    <span>Team</span>UP
                </h:link>
            </div>
            <div class="header-right">

                <h:link   class="account" outcome="index.xhtml">
                    
                    <i class="fa fa-home"></i>
                    Home 
                </h:link>
                <h:link   class="account" outcome="signup.xhtml"> 
 <i class="fa fa-home"></i>
 Sign-UP</h:link>

                <!--as Href-->

                <!--                        account for button view -->
                <!--                        
                                            <a class="account  active uls-trigger" >select Language</a>
                -->

                <!-- Large modal -->
                <div class="selectregion">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Login
                        
                         <i class="fa fa-sign-in"></i>
                    
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">

                            <!--hfjhfjdjfhjdr-->
                            <ui:include  src="loginDailog.xhtml" />

                            <!--fhhdfhgfhgf-->
                        </div>
                    </div>
                    <script>
                        $('#myModal').modal('');
                    </script>
                </div>

            </div>
        </div>
    </div>



</ui:composition>  
