
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:f="http://xmlns.jcp.org/jsf/core"
                 xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <div class="graphs">
        <div class="sign-in-form">
            <div class="sign-in-form-top">
                <h1>Log in</h1>
            </div>
            <div class="signin">
                <div class="signin-rit">

                    <div class="clearfix"> </div>
                </div>
                <h:form>
                    <div class="log-input">
                        <div class="log-input-left">
                            <font size="3" color="Orange">#{lang.email}: </font>
                            <br></br>
                           <h:inputText  value="#{loginBean.email}"
                                         a:placeholder="ENTER YOUR MAIL "
                                         id="email"  
                                         required="true"
                                         class="fa fa-envelope"
                                         requiredMessage="Email Required  to Login "
                                         size="30"
                                         >
                             <f:ajax event="keyup" render="ErrorMail" 
                                      />
                           </h:inputText>
                             <h> <h:message  id="ErrorMail" for="email" style="color:red"/></h>

                         
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="log-input">
                        <div class="log-input-left">
                            <font size="3" color="Orange">#{lang.password}: </font>
                            <br></br>
                            <h:inputSecret value="#{loginBean.password}"
                                           a:placeholder="PASSWORD"
                                           id="password"/>
                        </div>

                        <div class="clearfix"> </div>
                    </div>
                    <h:commandButton value="Login" action="#{loginBean.login}">
                        <!--                <f:ajax execute="name password" render="out"/>-->
                    </h:commandButton>

                    <!--<input type="submit" value="Log in"/>-->
                </h:form>	 
            </div>
        </div>
    </div>

</ui:composition>